@import "./config/variables";
@import "./config/fonts";
@import "./config/normalize";
@import "./config/flex";
@import "./config/grid";
@import "./blocks/elements";

html,
body {
  scroll-behavior: smooth;
}

.hidden {
  display: none !important;
}

.max-height-form {
  max-height: 125vh;
  overflow-y: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 125vh;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 50;
}

@media screen and (min-width: 1400px) {
  .max-height-form {
    max-height: 110vh;
  }
  .overlay {
    height: 110vh;
  }
}

@media screen and (min-width: 1700px) {
  .max-height-form {
    max-height: 100vh;
  }
  .overlay {
    height: 100vh;
  }
}

// activities
.upload-form {
  position: relative;
  z-index: 100;
  width: 800px;
  background: $white !important;
  border-radius: $radius-xl !important;
  box-shadow: $element-shadow;

  & .btn-close {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 30px;
    right: 40px;
    border: none;
    background: none;
    font-size: 30px;
  }

  & .cancel-btn {
    cursor: pointer;
    @include primary-btn($primary-contrast, false);
  }

  &__title {
    padding: 30px;
    text-align: center;
    font-size: map-get($size-title, "m");
    font-weight: map-get($font-weights, "semibold");
  }
  & hr {
    margin: 0;
    border-color: #fafafa;
  }
  &__file {
    font-weight: map-get($font-weights, "semibold");
    display: block;
    text-decoration: none;
    color: $secundary-color;
    & span {
      font-size: map-get($size-paragraph, "m");
      font-weight: map-get($font-weights, "medium");
    }
    & i {
      font-size: 24px;
      position: relative;
      top: 3px;
      color: $secundary-color;
      margin-right: 10px;
    }
  }
  &__field {
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-input {
      display: block;
      height: 40px;
      border: none;
      font-size: 18px;
      &--title {
        width: 100%;
        font-size: map-get($size-title, "s");
        font-weight: map-get($font-weights, "medium");
      }
      &--date {
        background: rgba(28, 119, 255, 0.466);
        color: rgb(0, 60, 255);
        text-align: center;
        padding: 10px;
        border-radius: $radius-m;
      }
    }

    & select {
      text-align: right;
      background: none;
    }

    & &-input:focus {
      outline: none;
    }

    &-label {
      & span {
        font-size: map-get($size-paragraph, "m");
        font-weight: map-get($font-weights, "medium");
      }
      & i {
        font-size: 24px;
        position: relative;
        top: 3px;
        color: $secundary-color;
        margin-right: 10px;
      }
    }

    & .btn-submit {
      cursor: pointer;
      margin-left: 20px;
      @include primary-btn($secundary-color, false);
    }

    & .group-activity {
      font-size: 18px;
      font-style: italic;
      color: $paragraph-color;
    }

    & .file-empty {
      font-style: italic;
      color: #909090;
    }
    & .file-choise {
      & label {
        cursor: pointer;
        display: block;
        color: rgba(0, 0, 0, 0.8);
        font-size: 25px;
        position: relative;

        & .uploaded-file {
          font-size: 13px;
          font-weight: map-get($font-weights, "semibold");
          color: $secundary-color;
          position: absolute;
          top: -6px;
          left: 30px;
          width: max-content;
          margin-right: 0 20px;
          text-align: right;
          transition: all 0.3s;
        }
      }
      & label:hover {
        color: $secundary-color;
      }
      & input {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
    }
  }
  &__field--description {
    position: relative;
    & .upload-form__field-input {
      width: 100%;
      height: 200px;
      resize: none;
      border: 2px solid $secundary-color;
      border-radius: $radius-l;
      padding: 20px;
    }
    & .upload-form__field-label {
      position: absolute;
      font-size: map-get($size-paragraph, "l");
      font-weight: map-get($font-weights, "semibold");
      top: 18px;
      left: 80px;
      background: white;
    }
  }
}

.float-form {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

@media screen and (min-width: 1500px) {
  .float-form {
    transform: translate(-50%, -45%);
  }
}

@media screen and (min-width: 1700px) {
  .float-form {
    transform: translate(-50%, -50%);
  }
}
.nav-group {
  @include element;
  display: grid;
  grid-template-columns: 70% 30%;
  column-gap: 20px;

  &__title {
    font-size: map-get($size-paragraph, "xl");
    font-weight: map-get($font-weights, "semibold");
    margin-bottom: 20px;
    grid-column: 2 span;
  }
  &__select {
    display: block;
    padding: 0 20px;
    font-size: map-get($size-paragraph, "l");
    font-weight: map-get($font-weights, "medium");
    border-radius: $radius-m;
    border: 1.8px solid $black;
  }

  &__btn {
    @include primary-btn($secundary-color, false);
    max-width: 90%;
  }
}

// EVIDENCES
.evidences-course {
  max-width: 900px;
  margin: 0 auto;
  &__label {
    padding: 10px 50px;
    font-size: map-get($size-title, "s");
    font-weight: map-get($font-weights, "medium");
    margin: 20px;
    color: #1b1b1b;
  }
  & hr {
    border-color: #e0e0e0;
  }
}

// EVIDENCIA APRENDIZ
.evidence {
  @include element;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__user {
    & i {
      display: block;
      position: relative;
      top: -1.5px;
      margin-right: 15px;
      font-size: 28px;
      color: $secundary-color;
    }
    display: flex;
  }
  &__name {
    font-size: map-get($size-paragraph, "l");
    font-weight: map-get($font-weights, "medium");
  }
  &__date {
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: $radius-xl;
    background: rgba($color: #64ee9b, $alpha: 0.5);
  }
  &__link {
    display: block;
    text-decoration: none;
    @include primary-btn($secundary-color, false);
  }
}

.evidence-recovered {
  padding: 10px 20px;
  text-align: center;
  width: max-content;
  border-radius: $radius-xl;
  background: rgba($color: #ffe072, $alpha: 0.7);
}

.qualified-evidence {
  @include element;
  display: grid;
  max-width: 1000px;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 360px 140px 130px 170px;
  padding: 40px;
  &__activity,
  &__owner {
    display: flex;
  }
  &__icon {
    display: block;
    position: relative;
    top: -1.5px;
    margin-right: 15px;
    font-size: 28px;
    color: $secundary-color;
  }
  &__title {
    font-size: map-get($size-paragraph, "l");
    font-weight: map-get($font-weights, "medium");
  }
  &__date {
    padding: 10px 20px;
    text-align: center;
    border-radius: $radius-xl;
    background: rgba($color: #ffe072, $alpha: 0.5);
  }
  &__grade {
    text-align: center;
    &-value {
      margin-bottom: 5px;
      text-align: center;
    }
    &-range {
      width: 120px;
      height: 10px;
      background: #c5d6ee;
      border-radius: 10px;
      & span {
        display: block;
        height: 100%;
        border-radius: 10px;
        width: 100%;
      }
      & .grade-a {
        background: #00d809;
      }
      & .grade-b {
        background: #eba352;
      }
      & .grade-d {
        background: $primary-contrast;
      }
    }
  }
  &__icons {
    display: flex;
    min-width: 130px;
    justify-content: space-evenly;
    align-items: center;
  }
  &__observation {
    text-align: center;
  }
  &__link {
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: $secundary-color;
    transition: all 0.3s;
    &:hover {
      font-weight: map-get($font-weights, "semibold");
    }
  }
}

// CENTRO DE REVISIÓN
.activity-selected {
  @include element;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;

  &__icon {
    font-size: 30px;
    margin-right: 20px;
    color: $secundary-color;
  }
  &__title {
    margin-right: auto;
    font-size: map-get($size-title, "m");
    font-weight: map-get($font-weights, "semibold");
  }
  &__term {
    display: flex;
  }
  &__time {
    padding: 10px;
    text-align: center;
    &-label {
      font-size: map-get($size-paragraph, "xl");
      font-weight: map-get($font-weights, "medium");
      margin-bottom: 10px;
    }
    &-date {
      margin: 0 auto;
      padding: 10px 20px;
      min-width: 182px;
      border-radius: $radius-xl;
      background: rgba($color: #64ee9b, $alpha: 0.5);
      &--due {
        background: rgba($color: #ffe072, $alpha: 0.5);
      }
    }
  }
}

.pending-grades {
  margin-bottom: 60px;
}

.qualified-evidences {
  margin-bottom: 60px;
}

.pending-users {
  margin-bottom: 60px;
}

.evidence-element {
  @include element;
  & .user-evidence {
    display: flex;
    padding: 30px 20px 60px 20px;
    &__info {
      margin-right: 40px;
    }
    &__photo {
      border-radius: 60%;
      max-width: 90px;
      margin-bottom: 25px;
    }
    &__group {
      text-align: center;
      &-label {
        font-size: map-get($size-paragraph, "m");
        font-weight: map-get($font-weights, "medium");
        margin-bottom: 8px;
      }
      &-num {
        color: $secundary-color;
        font-size: map-get($size-paragraph, "l");
        font-weight: map-get($font-weights, "medium");
      }
    }
    &__name {
      font-size: map-get($size-paragraph, "xl");
      font-weight: map-get($font-weights, "semibold");
      margin-bottom: 5px;
    }
    &__date {
      font-style: italic;
      margin-bottom: 20px;
    }
    &__description {
      color: $paragraph-color;
      margin-bottom: 20px;
    }
    &__file {
      margin-left: 180px;
      text-align: center;
      &-label {
        font-size: map-get($size-paragraph, "l");
        font-weight: map-get($font-weights, "medium");
      }
      &-src {
        font-size: 120px;
        color: $secundary-color;
        text-decoration: none;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
      &-src:focus {
        outline: none !important;
      }
    }
    &__modify-grade {
      cursor: pointer;
      text-align: right;
      font-size: 18px;
      color: $primary-contrast;
      text-decoration: none;
      transition: all 0.3s;
      &:hover {
        font-weight: map-get($font-weights, "semibold");
      }
    }
  }
  & hr {
    margin: 0 -40px;
    color: $paragraph-color;
  }
  & .calification-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 20px 30px 20px;

    &__grade {
      min-width: 300px;
      &-label {
        font-size: map-get($size-title, "s");
        font-weight: map-get($font-weights, "semibold");
        margin-bottom: 20px;
      }
      &-input {
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        & input {
          border: 3px solid $secundary-color;
          border-radius: $radius-s;
          padding: 5px;
          text-align: right;
          width: 90px;
          position: relative;
          right: 5px;
        }
        & input:disabled {
          color: $secundary-color;
          font-weight: map-get($font-weights, "semibold");
        }
        & input::-webkit-outer-spin-button,
        & input::-webkit-inner-spin-button {
          -webkit-appearance: inner-spin-button !important;
          appearance: inner-spin-button;
          position: absolute;
          width: 25px;
          height: 100%;
          top: 0;
        }
        & span {
          color: $secundary-color;
          font-weight: map-get($font-weights, "semibold");
        }
      }
    }

    &__observation {
      position: relative;
      margin: 0 30px;
      &-input {
        width: 410px;
        height: 150px;
        resize: none;
        border: 2px solid $secundary-color;
        border-radius: $radius-l;
        padding: 20px;
      }
      &-input:focus {
        outline: none;
      }
      &-label {
        position: absolute;
        font-size: map-get($size-paragraph, "l");
        font-weight: map-get($font-weights, "semibold");
        top: -12px;
        left: 40px;
        background: white;
      }
    }
    &__btn-submit {
      cursor: pointer;
      height: 80px;
      width: 80px;
      padding-left: 15px;
      margin: auto;
      font-size: 60px;
      background: none;
      border: none;
      color: $secundary-color;
    }
    &__btn-submit:hover {
      color: #177cf0;
    }
  }
}

.user {
  &-profile {
    max-width: 1000px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    &__photo {
      max-width: 160px;
      border: 6px solid #ffffff;
      border-radius: 50%;
      filter: drop-shadow(0px 6px 7px rgba(0, 0, 0, 0.25));
    }
    &__info {
      margin-left: 50px;
    }
    &__name {
      font-size: map-get($size-title, "l");
      font-weight: map-get($font-weights, "semibold");
      margin-bottom: 5px;
    }
    &__label {
      display: flex;
      color: #636363;
      justify-content: space-between;
      align-items: center;
      max-width: 430px;
      font-weight: map-get($font-weights, "medium");
      & .dot {
        background: #636363;
        width: 4px;
        height: 4px;
        border-radius: 50%;
      }
    }
    &__contact {
      margin-top: 40px;
      display: flex;
      &-data {
        width: 250px;
        line-height: 35px;
        height: 40px;
        border: 2px solid #babababa;
        text-align: center;
        margin-right: 20px;
        color: #636363;
        border-radius: 10px;
        & i {
          margin-right: 8px;
        }
      }
    }
  }
  & hr {
    border-color: #d9d9d9;
    margin: 30px 0;
  }
  &-programs {
    &__label {
      margin-bottom: 20px;
      font-size: map-get($size-title, "s");
      font-weight: map-get($font-weights, "semibold");
    }
    & .course {
      margin: auto 20px auto 0;
      text-align: center;
      border: 2px solid #babababa;
    }
  }
}

.instructor-activities {
  display: grid;
  grid-template-columns: 95% 5%;
  position: relative !important;

  & .create-button {
    text-decoration: none;
    color: $black;
    padding: 25px;
    font-size: 25px;
    background: $white;
    border-radius: 15px;
    box-shadow: $element-shadow;
    position: fixed;
    top: 120px;
    right: 13px;
  }
  & .create-button:focus {
    outline: none;
  }
}

.actions {
  & .btn-report {
    display: block;
    width: max-content;
  }
  &--group-list .btn-report {
    margin-right: 15px;
    margin-left: auto;
  }
  &--deliveries .btn-report,
  &--student-grades .btn-report {
    margin: auto;
  }
}
