@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lexend', sans-serif;
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #EBF0F6;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}

a:focus {
  outline: thin dotted;
}

a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  border-style: none;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.nav {
  top: 0;
  width: 100%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  min-height: 80px;
}

.nav__logo {
  width: 130px;
  margin-left: 20px;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  margin-bottom: 15px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: 15px;
  list-style: none;
  font-size: 1em;
}

.nav-menu__link {
  text-decoration: none;
  color: #000;
  border-radius: 20px;
  padding: 12px 15px;
  margin: 0 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.nav-menu__link--active {
  border: 1.2px solid #000;
}

.nav-menu__link:active, .nav-menu__link--active:active {
  background: #0066ff;
  border: 1.2px solid #000;
  color: #fff;
}

.nav-menu__link:hover, .nav-menu__link--active:hover {
  background: #0066ff;
  border: 1.2px solid #000;
  color: #fff;
}

@media screen and (min-width: 600px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .nav__logo {
    margin-bottom: 0;
  }
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 40px 40px 40px;
  background-color: #fff;
  background-image: url(../img/backgrounds/header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40px;
}

.home__paragraph {
  font-size: 1.3em;
  color: #636363;
}

.home__btn {
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  color: #fff;
  background: #ff3030;
  font-size: 1.1em;
  font-weight: 500;
  -webkit-box-shadow: 5px 5px 15px -6px rgba(0, 0, 0, 0.91);
          box-shadow: 5px 5px 15px -6px rgba(0, 0, 0, 0.91);
}

@media screen and (min-width: 600px) {
  .home {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-position-y: bottom;
  }
  .home__figure {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 50%;
  }
  .home__start {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 50%;
  }
}

@media screen and (min-width: 800px) {
  .home {
    padding: 30px 50px;
  }
  .home__figure {
    width: 40%;
  }
}

@media screen and (min-width: 1400px) {
  .home {
    height: 90vh;
  }
}

.info {
  margin-top: 30px;
  padding: 50px;
  text-align: center;
}

.info__title {
  font-size: 1.6em;
}

.info__paragraph {
  font-size: 1.1em;
  color: #636363;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #fff;
  margin: 30px 20px;
  padding: 20px;
  border-radius: 20px;
  border-top: 20px solid #ff5c00;
  text-align: center;
  -webkit-box-shadow: 0px 8px 20px rgba(157, 186, 234, 0.25);
          box-shadow: 0px 8px 20px rgba(157, 186, 234, 0.25);
  margin-bottom: 100px;
}

.card__figure {
  margin-bottom: 20px;
  width: 80%;
  max-width: 450px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.card-content {
  padding: 20px 10px;
}

.card__title {
  font-size: 1.6em;
  margin-bottom: 5px;
}

.card__paragraph {
  color: #636363;
  font-size: 1.1em;
}

.card-steps {
  font-size: 1.1em;
}

.card-steps__list {
  list-style: none;
  text-align: left;
}

.card-steps__li {
  position: relative;
  text-align: left;
}

.card-steps__li span {
  display: inline-block;
  font-weight: bold;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 20px;
  background-color: #0066ff;
  color: #fff;
  position: relative;
  z-index: 1;
  margin: 1.4em 0;
}

.card-steps__li::before {
  content: '';
  position: absolute;
  background: #0066ff;
  z-index: 0;
  top: -35px;
  left: 15px;
  width: 0.2em;
  height: 4em;
}

.card-steps__li:first-child::before {
  display: none;
}

@media screen and (min-width: 600px) {
  .card {
    margin: 0 100px 100px 100px;
  }
}

@media screen and (min-width: 900px) {
  .card {
    border-top: none;
    border-left: 25px solid #ff5c00;
    width: 80%;
    margin: 50px auto;
    margin-bottom: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 40px 50px;
  }
  .card__figure {
    width: 50%;
  }
  .card-content {
    width: 50%;
  }
}

.design {
  background-color: #ff5c00;
  background-image: url(../img/backgrounds/design-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-shadow: 3px 7px 12px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 100px;
}

.design__title {
  margin: 80px;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  -ms-flex-negative: 2;
      flex-shrink: 2;
}

.design__title hr {
  width: 55px;
  height: 15px;
  border: none;
  background: #fff;
  border-radius: 20px;
  -webkit-box-shadow: 3px 7px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 7px 12px rgba(0, 0, 0, 0.3);
}

.design__figure {
  margin: 0 50px;
  max-width: 500px;
}

@media screen and (min-width: 800px) {
  .design {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .design__title {
    width: 40%;
  }
  .design__figure {
    padding-top: 100px;
    position: relative;
    top: 0;
  }
}

.skills {
  min-height: 700px;
  margin-bottom: 100px;
  background-image: url("../img/backgrounds/skills-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 40px;
}

.skills__head {
  margin: 50px 0 100px 0;
  text-align: center;
}

.skills__head hr {
  width: 55px;
  height: 15px;
  border: none;
  background: #ff3030;
  border-radius: 20px;
  margin-bottom: 30px;
}

.skills__title {
  font-size: 1.8em;
}

.skills__paragraph {
  font-size: 1.2em;
  color: #636363;
}

.skills__icons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (150px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 150px);
  grid-auto-rows: 150px;
  grid-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.skills__img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
}

.support {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  margin-bottom: 100px;
  text-align: center;
  padding: 70px 40px 0 40px;
}

.support__title {
  font-size: 1.4em;
}

.support__title hr {
  width: 55px;
  height: 15px;
  border: none;
  background: #ff3030;
  border-radius: 20px;
}

.support__paragraph {
  font-size: 1.1em;
  color: #636363;
}

.support__btn {
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  color: #fff;
  background: #ff3030;
  font-size: 1.1em;
  font-weight: 500;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.support__btn:hover {
  -webkit-box-shadow: 3px 7px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 7px 12px rgba(0, 0, 0, 0.3);
}

.support__figure {
  max-width: 400px;
  margin: 80px auto 0 auto;
  position: relative;
  bottom: 0;
}

@media screen and (min-width: 800px) {
  .support {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
  .support__content {
    margin: 0 100px;
  }
  .support__btn {
    margin-top: 30px;
  }
  .support__figure {
    margin: 80px 100px 0 auto;
    max-width: 500px;
  }
}

.footer {
  background-color: #ff5c00;
  color: #fff;
  position: relative;
  text-align: center;
}

.footer-wave {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer-wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 169px;
}

.footer-wave .shape-fill {
  fill: #ebf0f6;
}

.footer__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 200px);
  grid-auto-rows: auto;
  grid-gap: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 30px;
}

.footer__brand {
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer__title {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer__info {
  font-size: 1.1em;
}

.footer__info div {
  margin-bottom: 10px;
}

.footer__media {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 30px;
}

.footer__contact-form {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__contact-email {
  height: 50px;
  border: none;
  border-radius: 15px;
  padding: 0 10px;
  margin-right: 5px;
}

.footer__contact-button {
  height: 50px;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  color: #fff;
  background: linear-gradient(104.67deg, #ff5a5a -82.31%, #f11414 54.83%, #f11414 86.9%);
  font-size: 1.1em;
  font-weight: 500;
}

.footer hr {
  color: #fff;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.1em;
  padding: 20px;
}

@media screen and (min-width: 450px) {
  .footer__contact {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 1000px) {
  .footer__contact {
    grid-column: 2 span;
  }
}
/*# sourceMappingURL=main.css.map */