@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth !important;
}

a:active,
a:focus {
  outline: none !important;
}

body {
  font-family: "Lexend", sans-serif !important;
  overflow-x: hidden;
}

input:focus {
  outline: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #ebf0f6;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  border-style: none;
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

.pass__field {
  position: relative;
}
.pass__field .see-btn {
  display: none;
  right: 26.3px;
}

.eye {
  position: absolute;
  font-size: 19px;
  top: 20.5px;
  right: 25px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

@media screen and (min-width: 1400px) {
  .eye {
    font-size: 22px;
    top: 30.5px;
    right: 30px;
  }
  .see-btn {
    right: 31px;
  }
}
.hidden {
  display: none !important;
}

.banner {
  background-image: url("../img/backgrounds/banner-aprendiz.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 40px;
}
.banner__p {
  color: #fff;
  font-size: 1.8em;
  font-weight: 700;
}

.nav {
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  top: 0;
}
.nav__logo {
  width: 130px;
  margin-left: 20px;
  flex-shrink: 2;
  margin-bottom: 15px;
}
.nav-menu {
  display: flex;
  justify-content: center;
  padding-right: 20px;
}
.nav-menu--loged {
  margin-left: auto;
}
.nav-menu .btn-menu {
  display: block;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.3s;
}
.nav-menu .btn-menu--rotate {
  transform: rotate(180deg);
}
.nav-menu__links {
  padding: 20px;
  background: #fff;
  z-index: 10;
  position: absolute;
  margin-top: 35px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.nav-menu__item {
  list-style: none;
  margin-bottom: 15px;
}
.nav-menu__link {
  text-decoration: none;
  color: #000;
  transition: all 0.2s;
}
.nav-menu__link:hover {
  color: #0066ff;
  font-weight: 700;
}
.nav-menu__link--outline {
  margin-left: 15px;
  padding: 12px 15px;
  border-radius: 20px;
  outline: 2px solid #000;
}
.nav-menu__link--outline:hover {
  outline: 2px solid #000;
  font-weight: 500;
  color: #fff;
  background: #0066ff;
}

.footer {
  background-color: #ff5c00;
  color: #fff;
  text-align: center;
}
.footer-wave {
  top: 0;
  left: 0;
  width: 100%;
  line-height: 0;
  transform: rotate(180deg);
}
.footer-wave svg {
  display: block;
  width: calc(100% + 1.3px);
  height: 169px;
}
.footer-wave .shape-fill {
  fill: #ebf0f6;
}
.footer__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-auto-rows: auto;
  grid-gap: 20px;
  justify-content: space-evenly;
  padding: 30px;
}
.footer__brand {
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 15px;
}
.footer__title {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 15px;
}
.footer__info {
  font-size: 1.1em;
}
.footer__info div {
  margin-bottom: 10px;
}
.footer__media {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;
}
.footer__contact-form {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  justify-content: center;
}
.footer__contact-email {
  height: 50px;
  border: none;
  border-radius: 15px;
  padding: 0 10px;
  margin-right: 5px;
}
.footer__contact-button {
  height: 50px;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  color: #fff;
  background: linear-gradient(104.67deg, #ff5a5a -82.31%, #f11414 54.83%, #f11414 86.9%);
  font-size: 1.1em;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
}
.footer hr {
  color: #fff;
}
.footer__copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1em;
  padding: 20px;
}

@media screen and (min-width: 450px) {
  .footer__contact {
    grid-column: 1/-1;
  }
}
@media screen and (min-width: 1000px) {
  .footer__contact {
    grid-column: 2 span;
  }
}
.course {
  cursor: pointer;
  outline: none;
  margin-left: 20px;
  border: none;
  min-width: 180px;
  text-align: center;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  text-decoration: none;
  color: #000;
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: 0px 8px 20px rgba(157, 186, 234, 0.25);
}
.course__title {
  font-weight: 700;
  font-size: 1.3em;
}
.course__id {
  color: #636363;
  margin-bottom: 10px;
}
.course__figure {
  max-width: 100px;
}
.course__unlink {
  cursor: pointer;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  border-radius: 20px;
  padding: 10px 20px;
  color: #fff;
  background: #0066ff;
  font-weight: 500;
}
.course__unlink i {
  margin-right: 10px;
}
.course__unlink:hover {
  background: rgb(0, 90, 255);
}

.course:focus {
  border: 5px solid #0066ff;
}

@-webkit-keyframes displayMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes displayMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.nav-menu--active {
  display: flex !important;
  -webkit-animation: displayMenu 350ms ease-in-out both;
          animation: displayMenu 350ms ease-in-out both;
}

.br {
  fill: none;
  stroke: #272727;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.br-1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.br-2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.br-3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .br-1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .br-2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .br-3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.wrapper {
  display: flex;
  position: relative;
}
.wrapper .nav-y {
  position: fixed;
  background: #fff;
  width: 250px;
  height: 100%;
  padding: 30px 10px;
  display: grid;
  justify-items: center;
}
.wrapper .nav-y .full-logo {
  width: 130px;
  display: block;
}
.wrapper .nav-y .short-logo {
  display: none;
  width: 50px;
}
.wrapper .nav-y .profile {
  margin-bottom: 45px;
}
.wrapper .nav-y .profile__name {
  margin-bottom: 10px;
}
.wrapper .nav-y .profile:focus,
.wrapper .nav-y .profile__name:hover {
  color: #0066ff;
  outline: none;
}
.wrapper .nav-y .logout-desktop {
  display: block;
  position: absolute;
  text-align: center;
  bottom: 40px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
.wrapper .nav-y .logout-desktop:hover {
  color: #0066ff;
}
.wrapper .nav-y ul {
  padding: 0;
  margin: 0;
  width: 100%;
}
.wrapper .nav-y ul a {
  display: block;
  color: #636363;
  text-decoration: none;
}
.wrapper .nav-y ul a li {
  padding: 20px;
  list-style: none;
  cursor: pointer;
  transition: 0.3s;
}
.wrapper .nav-y ul a li i {
  font-size: 20px;
  margin-right: 10px;
}
.wrapper .nav-y ul a:focus {
  outline: none;
}
.wrapper .nav-y ul .logout-mobile {
  display: none;
}
.wrapper .nav-y ul li:hover {
  background: #f2f0f0;
}
.wrapper .main-content {
  width: 100%;
  margin-left: 280px;
  padding: 20px;
}
.wrapper .ham {
  display: none;
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}
.wrapper .ham span {
  display: block;
  background: #272727;
  height: 3px;
  width: 28px;
  margin: 8px auto;
  border-radius: 2px;
}

@media screen and (max-width: 800px) {
  .wrapper {
    flex-direction: column;
  }
  .wrapper .ham {
    display: block;
    position: absolute;
    left: 25px;
    top: 25px;
    transition: 0.2s 0.1s;
  }
  .wrapper .nav-y {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    height: auto;
  }
  .wrapper .nav-y .logo {
    margin-left: 80px;
  }
  .wrapper .nav-y .full-logo {
    display: none;
  }
  .wrapper .nav-y .short-logo {
    display: block;
  }
  .wrapper .nav-y .profile {
    position: absolute;
    right: 25px;
    top: 35px;
    margin-bottom: 0;
  }
  .wrapper .nav-y .logout-desktop {
    display: none;
  }
  .wrapper .nav-y ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 0;
    display: none;
    opacity: 0;
    transition: opacity 5s ease-out;
    width: 100%;
  }
  .wrapper .nav-y ul a {
    width: 100%;
    text-align: center;
  }
  .wrapper .nav-y ul .logout-mobile {
    display: block;
  }
  .wrapper .main-content {
    width: 100%;
    margin: 100px 0 0 0;
    padding: 20px;
  }
}
.main-content__p {
  color: #636363;
  margin-bottom: 40px;
}

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 100px;
}
.profile__header {
  grid-column: 2 span;
  margin: 10px 0;
  padding: 0;
}
.profile__p {
  grid-column: 2 span;
  margin-bottom: 30px;
  color: #636363;
}
.profile-photo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.profile-photo__title {
  font-size: 1.2em;
  font-weight: 500;
  grid-column: 2 span;
  margin-bottom: 30px;
}
.profile-photo__img {
  max-width: 180px;
  border-radius: 60%;
  box-shadow: 0px 8px 20px rgba(157, 186, 234, 0.25);
}
.profile-photo__btns {
  margin-left: -50px;
  margin-top: 15px;
}
.profile-photo__btns button {
  display: block;
  margin: auto 0;
  width: 10;
  min-width: 156px;
}
.profile-photo__btns button:first-child {
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  color: #fff;
  background: #0066ff;
  font-size: 1.1em;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
}
.profile-photo__btns button:nth-child(2) {
  border: 2px solid #d8d8d8;
  border-radius: 10px;
  padding: 15px 20px;
  color: #000;
  background: #fff;
  font-size: 1.1em;
  font-weight: 500;
}
.profile-photo__btns button:nth-child(2) i {
  margin-right: 5px;
  color: #ff3030;
}
.profile-photo__p {
  color: #636363;
  grid-column: 2 span;
  margin-top: 30px;
  font-size: 14px;
}
.profile-banner {
  position: relative;
  display: flex;
}
.profile-banner__info {
  width: 100%;
  padding: 35px;
  height: 100%;
  background: #f3f3f3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-banner__info .profile-banner__title {
  width: 50%;
  margin-bottom: 20px;
  font-size: 1.2em;
  font-weight: 500;
}
.profile-banner__info .profile-banner__p {
  width: 50%;
  color: #636363;
  font-size: 14px;
}
.profile-banner__figure {
  position: absolute;
  max-width: 320px;
  top: -20px;
  right: -20px;
}
.profile .form {
  grid-column: 2 span;
  width: 100%;
  display: grid;
  margin: 40px auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: column;
  row-gap: 25px;
}
.profile .form .profile__field {
  width: 100%;
}
.profile .form .profile__field-label {
  font-size: 1em;
  color: #474545;
  margin-bottom: 15px;
}
.profile .form .profile__field-input {
  display: block;
  border: 2px solid #d8d8d8;
  border-radius: 10px;
  height: 50px;
  padding: 20px;
  width: 90%;
}
.profile .form .profile__field .type-date {
  padding: 0 20px;
}
.profile .form .submit-btn {
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  color: #fff;
  background: #0066ff;
  font-size: 1.1em;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  margin-top: 35px;
  height: 50px;
  width: 90%;
}

.nav-profile {
  display: flex;
  text-decoration: none;
  color: #000;
  align-items: flex-end;
  position: relative;
}
.nav-profile__img {
  width: 40px;
  border-radius: 50%;
  margin-right: 8px;
  border: 2px solid #272727;
}
.nav-profile__name {
  margin-bottom: 10px;
}
.nav-profile--y {
  bottom: 40px;
}

.user-profile {
  max-width: 1000px;
  margin: 40px auto;
  display: flex;
  align-items: center;
}
.user-profile__photo {
  max-width: 160px;
  border: 6px solid #ffffff;
  border-radius: 50%;
  filter: drop-shadow(0px 6px 7px rgba(0, 0, 0, 0.25));
}
.user-profile__info {
  margin-left: 50px;
}
.user-profile__name {
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 5px;
}
.user-profile__label {
  display: flex;
  color: #636363;
  justify-content: space-between;
  align-items: center;
  max-width: 430px;
  font-weight: 500;
}
.user-profile__label .dot {
  background: #636363;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}
.user-profile__contact {
  margin-top: 40px;
  display: flex;
}
.user-profile__contact-data {
  width: 300px;
  line-height: 35px;
  height: 40px;
  border: 2px solid rgba(186, 186, 186, 0.7294117647);
  text-align: center;
  margin-right: 20px;
  color: #636363;
  border-radius: 10px;
}
.user-profile__contact-data i {
  margin-right: 8px;
}
.user hr {
  border-color: #d9d9d9;
  margin: 30px 0;
}
.user-programs__label {
  margin-bottom: 20px;
  font-size: 1.4em;
  font-weight: 700;
}
.user-programs .course {
  margin: auto 20px auto 0;
  text-align: center;
  border: 2px solid rgba(186, 186, 186, 0.7294117647);
}

.activities-course {
  display: grid;
  grid-template-columns: 450px 450px;
  justify-content: center;
  gap: 40px;
  margin: 30px auto;
}
.activities-course__label {
  padding: 10px 50px;
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 10px;
  color: #272727;
  grid-column: 2 span;
}
.activities-course hr {
  border-color: #e0e0e0;
  width: 100%;
  grid-column: 2 span !important;
}
.activities-course .activity {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(157, 186, 234, 0.25);
  padding: 40px;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.activities-course .activity__title {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 10px;
}
.activities-course .activity__date {
  font-style: italic;
  margin: 5px 3px;
}
.activities-course .activity__info {
  background: #f9f9f9;
  border-radius: 15px;
  padding: 30px;
  margin: 20px 0;
}
.activities-course .activity__btn-delete {
  color: #ff3030;
  position: absolute;
  font-size: 23px;
  top: 25px;
  right: 25px;
  text-decoration: none;
  cursor: pointer;
}
.activities-course .activity__p {
  overflow-wrap: break-word;
  font-size: 15px;
  margin-bottom: 15px;
}
.activities-course .activity__date-limit {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  background: rgba(255, 224, 114, 0.5);
}
.activities-course .activity__type {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  color: #202020;
  background: #80e483;
}
.activities-course .activity__file {
  position: relative;
}
.activities-course .activity__file i {
  font-size: 25px;
  position: relative;
  top: 3px;
  margin-left: 15px;
  color: #0066ff;
}
.activities-course .activity__file span {
  font-size: 13px;
  font-weight: 700;
  color: #000;
}
.activities-course .activity__btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.activities-course .activity__btns a {
  display: block;
  text-decoration: none;
}
.activities-course .activity__btns-link {
  color: #0066ff;
}
.activities-course .activity__btns-evidences {
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  color: #fff;
  background: #0066ff;
  font-size: 1.1em;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
}

.user-evidences {
  margin-bottom: 40px;
}
.user-evidences .user-evidence {
  padding: 40px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(157, 186, 234, 0.25);
  margin: 0 auto;
  max-width: 900px;
  margin-top: 30px;
  display: grid;
  width: 900px;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 290px 140px 130px 140px;
  padding: 40px;
  border: 2px solid rgba(186, 186, 186, 0.7294117647);
}
.user-evidences .user-evidence__activity {
  display: flex;
}
.user-evidences .user-evidence__icon {
  display: block;
  position: relative;
  top: -1.5px;
  margin-right: 15px;
  font-size: 28px;
  color: #0066ff;
}
.user-evidences .user-evidence__title {
  font-size: 1.2em;
  font-weight: 500;
}
.user-evidences .user-evidence__date {
  padding: 10px 20px;
  text-align: center;
  border-radius: 20px;
  background: rgba(255, 224, 114, 0.5);
}
.user-evidences .user-evidence__grade-value {
  margin-bottom: 5px;
  text-align: center;
}
.user-evidences .user-evidence__grade-range {
  width: 120px;
  height: 10px;
  background: #c5d6ee;
  border-radius: 10px;
}
.user-evidences .user-evidence__grade-range span {
  display: block;
  height: 100%;
  border-radius: 10px;
  width: 100%;
}
.user-evidences .user-evidence__grade-range .grade-a {
  background: #00d809;
}
.user-evidences .user-evidence__grade-range .grade-b {
  background: #eba352;
}
.user-evidences .user-evidence__grade-range .grade-d {
  background: #ff3030;
}
.user-evidences .user-evidence__icons {
  display: flex;
  min-width: 130px;
  justify-content: space-evenly;
  align-items: center;
}
.user-evidences .user-evidence__observation {
  text-align: center;
}
.user-evidences .user-evidence__file {
  font-size: 25px;
  text-decoration: none;
  color: #ff3030;
}
.user-evidences .user-evidence--empty {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 171, 122, 0.5);
}
.user-evidences .user-evidence--empty .user-evidence__icon {
  color: rgba(255, 15, 15, 0.8);
}
.user-evidences .user-evidence--empty__alert {
  padding: 10px 20px;
  text-align: center;
  border-radius: 20px;
  background: rgba(255, 15, 15, 0.8);
}

.user-label {
  margin-bottom: 20px;
  font-size: 1.4em;
  font-weight: 700;
}

.alert-message {
  padding: 40px;
  margin: 30px auto;
  position: relative;
  right: 18px;
  text-align: center;
  background: #ffd16d;
  padding: 20px 15px;
  border-radius: 10px;
  max-width: 900px;
}
.alert-message i {
  font-size: 20px;
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.register-input {
  height: 60px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #e3e3e3;
  border: none;
  padding: 20px;
}

.courses__title {
  margin-bottom: 30px;
}
.courses__list {
  display: flex;
}
.courses .course {
  min-width: 180px;
}

@media screen and (min-width: 1400px) {
  .activities-course {
    grid-template-columns: 500px 500px;
  }
  .activities-course .activity {
    max-width: 500px;
  }
}
.evidence {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(157, 186, 234, 0.25);
  max-width: 900px;
  margin: 0 auto;
}
.evidence__header {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.evidence__instructor {
  display: flex;
  align-items: center;
}
.evidence__instructor-photo {
  max-width: 60px;
  border-radius: 60%;
  margin-right: 10px;
}
.evidence__instructor-name {
  font-size: 1.3em;
  font-weight: 700;
}
.evidence__info {
  display: flex;
}
.evidence__info div {
  font-weight: 500;
}
.evidence__info-date-limit {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  background: rgba(255, 224, 114, 0.5);
}
.evidence__info-type {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
  background: #00d809;
}
.evidence__content {
  padding: 30px 50px;
}
.evidence__title {
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 15px;
}
.evidence__date {
  font-size: 1.2em;
  font-style: italic;
  color: #272727;
  margin-bottom: 25px;
}
.evidence__p {
  color: #636363;
  margin-bottom: 25px;
}
.evidence__file {
  margin-bottom: 20px;
}
.evidence__file i {
  font-size: 25px;
  position: relative;
  top: 4px;
  margin-right: 5px;
  color: #0066ff;
}
.evidence__file a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.upload-form {
  padding: 40px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(157, 186, 234, 0.25);
  margin: 0 auto;
  max-width: 900px;
  margin-top: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: 230px 4fr 1fr;
}
.upload-form__file {
  background: #ebebeb;
  border-radius: 20px;
}
.upload-form__file label {
  display: block;
  background: #0066ff;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  border-radius: 20px 20px 0 0;
  transition: all 0.3s;
  cursor: pointer;
}
.upload-form__file label i {
  margin-right: 10px;
}
.upload-form__file label:hover {
  background: #177cf0;
}
.upload-form__file input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.upload-form__file-choised {
  padding: 20px;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  line-height: 20px;
}
.upload-form__file-choised i {
  font-size: 25px;
  position: relative;
  top: 2px;
  margin-right: 5px;
  color: #0066ff;
}
.upload-form__file-choised span {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  position: relative;
  top: -2px;
}
.upload-form__textarea {
  position: relative;
}
.upload-form__textarea-input {
  width: 100%;
  height: 200px;
  resize: none;
  border: 2px solid #0066ff;
  border-radius: 15px;
  padding: 20px;
}
.upload-form__textarea-input:focus {
  outline: none;
}
.upload-form__textarea-label {
  position: absolute;
  font-size: 1.2em;
  font-weight: 700;
  top: -12px;
  left: 40px;
  background: white;
}
.upload-form__btn-submit {
  cursor: pointer;
  height: 80px;
  width: 80px;
  margin: auto;
  font-size: 60px;
  background: none;
  border: none;
  color: #0066ff;
}
.upload-form__btn-submit:hover {
  color: #177cf0;
}

.turned-evidence {
  padding: 40px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(157, 186, 234, 0.25);
  margin: 0 auto;
  max-width: 900px;
  margin-top: 30px;
  display: grid;
  gap: 20px;
  grid-template-columns: 320px 3fr 1fr;
}
.turned-evidence__file {
  margin-bottom: 15px;
}
.turned-evidence__file i {
  font-size: 25px;
  position: relative;
  top: 2px;
  margin-right: 5px;
  color: #0066ff;
}
.turned-evidence__file a {
  font-size: 14px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  position: relative;
  top: -2px;
}
.turned-evidence__p {
  font-size: 15px;
  color: #636363;
}
.turned-evidence__observation {
  position: relative;
}
.turned-evidence__observation-p {
  width: 100%;
  height: 130px;
  border: 2px solid #0066ff;
  border-radius: 15px;
  padding: 20px;
}
.turned-evidence__observation-label {
  position: absolute;
  font-size: 1.2em;
  font-weight: 700;
  top: -12px;
  left: 40px;
  background: white;
}
.turned-evidence__observation-calification {
  font-size: 27px;
  font-weight: 800;
  text-align: right;
  color: #0066ff;
}

.program {
  display: flex;
  text-decoration: none;
  color: #000;
  padding: 40px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(157, 186, 234, 0.25);
  margin: 0 auto;
  max-width: 900px;
  margin-top: 30px;
  cursor: pointer;
}
.program__figure {
  max-width: 100px;
}
.program__id {
  margin-left: 40px;
}
.program__title {
  font-size: 1.6em;
  font-weight: 700;
  margin-bottom: 8px;
}
.program__group {
  color: #636363;
}

.briefcase {
  margin-bottom: 30px;
}
.briefcase-evidence {
  padding: 40px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 8px 20px rgba(157, 186, 234, 0.25);
  margin: 0 auto;
  max-width: 900px;
  margin-top: 30px;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 290px 140px 130px 140px;
  padding: 40px;
}
.briefcase-evidence__activity {
  display: flex;
}
.briefcase-evidence__icon {
  display: block;
  position: relative;
  top: -1.5px;
  margin-right: 15px;
  font-size: 28px;
  color: #0066ff;
}
.briefcase-evidence__title {
  font-size: 1.2em;
  font-weight: 500;
}
.briefcase-evidence__date {
  padding: 10px 20px;
  text-align: center;
  border-radius: 20px;
  background: rgba(255, 224, 114, 0.5);
}
.briefcase-evidence__grade-value {
  margin-bottom: 5px;
  text-align: center;
}
.briefcase-evidence__grade-range {
  width: 120px;
  height: 10px;
  background: #c5d6ee;
  border-radius: 10px;
}
.briefcase-evidence__grade-range span {
  display: block;
  height: 100%;
  border-radius: 10px;
  width: 100%;
}
.briefcase-evidence__grade-range .grade-a {
  background: #00d809;
}
.briefcase-evidence__grade-range .grade-b {
  background: #eba352;
}
.briefcase-evidence__grade-range .grade-d {
  background: #ff3030;
}
.briefcase-evidence__icons {
  display: flex;
  min-width: 130px;
  justify-content: space-between;
  align-items: center;
}
.briefcase-evidence__observation {
  text-align: center;
}
.briefcase-evidence__file {
  font-size: 25px;
  text-decoration: none;
  color: #ff3030;
}
.briefcase-evidence__link {
  font-size: 25px;
  text-decoration: none;
  color: #0066ff;
}
.briefcase-empty {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 40px;
  font-size: 1.4em;
  font-weight: 500;
}

.program-divider {
  max-width: 900px;
  opacity: 0.7;
  margin: 40px auto;
  border: 2px solid #0066ff;
  border-radius: 10px;
}/*# sourceMappingURL=aprendiz.css.map */