// Primary colors
$white: #fff;
$black: #000;
$primary-color: #ff5c00;
$primary-contrast: #ff3030;
$secundary-color: #0066ff;

// Buttons
$btn-shadow: 5px 5px 15px -6px rgba(0, 0, 0, 0.91);

// Borders
$border: 1.2px solid #000;
$radius-s: 5px;
$radius-m: 10px;
$radius-l: 15px;
$radius-xl: 20px;

// Breakpoints
$sm: 390px;
$md: 600px;
$lg: 800px;
$xl: 1000px;
$xxl: 1400px;

// Elements
$element-spacing: 100px;
$element-shadow: 0px 8px 20px rgba(157, 186, 234, 0.25);

// Tables

$table-color: #212529;
$table-bg: $white;
$table-border-color: #dee2e6;
$table-accent-bg: transparent;
$table-striped-color: #212529;
$table-striped-bg: rgba(0, 0, 0, 0.05);
$table-active-color: #212529;
$table-active-bg: rgba(0, 0, 0, 0.1);
$table-hover-color: #212529;
$table-hover-bg: rgba(0, 0, 0, 0.075);
