// Primary colors
$white: #fff;
$black: #000;
$paragraph: #636363;
$primary-color: #FF5C00;
$secundary-color: #0066FF;


// Buttons
$btn-primary: linear-gradient(274.97deg, #FF5A5A -2.56%, #F11414 97.64%);
$btn-shadow: 5px 5px 15px -6px rgba(0,0,0,0.91);

// Borders
$border: 1.2px solid #000;
$radius-s: 5px;
$radius-m: 10px;
$radius-l: 15px;
$radius-xl: 20px;

// Breakpoints
$sm: 390px;
$md: 600px;
$lg: 800px;
$xl: 1000px;
$xxl: 1200px;


