// Primary colors
$white: #fff;
$black: #000;
$primary-color: #FF5C00;

// Buttons
$btn-primary: linear-gradient(274.97deg, #FF5A5A -2.56%, #F11414 97.64%);

// Borders
$border: 1px solid #000;
$radius-s: 5px;
$radius-m: 10px;
$radius-l: 15px;
$radius-xl: 20px;

// Breakpoints
$sm: 365px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


