@import './variables';
@import './fonts';
@import './normalize';
@import './flex';


// Nav bar

.nav {
    top: 0;
    width: 100%;
    background: $white;
    @include setFlex(column, center, between);
    padding: 20px 0;
    min-height: 80px;
    
    #{&}__logo{
        width: 130px;
        margin-left: 20px;
        flex-shrink: 2;
        margin-bottom: 15px
    }
    
    #{&}-menu{
        @include setFlex(row, center, evenly);
        margin-right: 15px;
        list-style: none;
        font-size: 1em;
        
        &__link {
            text-decoration: none;
            color: $black;
            border-radius: $radius-xl;
            padding: 12px 15px;
            margin: 0 5px;
            transition: .5s;
            outline: none;
        }
        
        &__link--active{
            border: $border;
        }

        &__link:active, &__link--active:active{
            background: $secundary-color;
            border: $border;
            color: $white;
        }
        
        &__link:hover, &__link--active:hover{
            background: $secundary-color;
            border: $border;
            color: $white;
        }
    }
}

    // Media


    @media screen and (min-width: $md){
        .nav {
            flex-direction: row;

            #{&}__logo{
                margin-bottom: 0;
            }
        }
    }

// Home


.home {
    display: flex;
    @include setFlex(column, center, evenly);
    padding: 0 40px 40px 40px;
    background-color: $white;
    background-image: url(../img/backgrounds/header-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40px;

    #{&}__paragraph{
        font-size: 1.3em;
        color: $paragraph;
    }
    
    #{&}__btn{
        border: none;
        border-radius: $radius-m;
        padding: 15px 20px;
        color: $white;
        background: $btn-primary;
        box-shadow: $btn-shadow;
        font-size: 1.1em;
        font-weight: map-get($font-weights, "medium");
    }
}

    // Media

    @media screen and (min-width: $md){
        .home{
            flex-direction: row;
            background-position-y: bottom;

            #{&}__figure{
                order: 2;
                width: 50%;
            }
            
            #{&}__start{
                order: 1;
                width: 50%;
            }
        }
    }

    @media screen and (min-width: $lg) {
        .home{
            padding: 30px 50px;

            #{&}__figure{
                width: 40%;
            }
        }
    }

// About Us

.info {
    padding: 50px;
    text-align: center;

    #{&}__title{
        font-size: 1.6em;
    }
    #{&}__paragraph{
        font-size: 1.3em;
        color: $paragraph;
    }
}

// Card

.card{
    @include setFlex(column, center, evenly);
    background-color: $white;
    margin: 30px 20px;
    padding: 20px;
    border-radius: $radius-xl;
    border-left: 20px solid $primary-color;
    text-align: center;

    #{&}__figure{
        margin-bottom: 20px;
        width: 80%;
        align-self: center;
    }

    &-content{
        padding: 30px;
    }
    
    #{&}__title{
        font-size: 1.6em;
        margin-bottom: 5px;
    }

    #{&}__paragraph{
        color: $paragraph;
        font-size: 1.1em;
    }
}

.card-steps{
    font-size: 1.1em;
    #{&}__list{
        list-style: none;
        text-align: left;
    }
    #{&}__li{
        position: relative;
        text-align: left;
        & span{
            display: inline-block;
            font-weight: bold;
            width: 2em;
            height: 2em;
            text-align: center;
            line-height: 2em;
            border-radius: $radius-xl;
            background-color: $secundary-color;
            color: $white;
            position: relative;
            z-index: 1;
            margin: 1.4em 0;
        }

        &::before{
            content: '';
            position: absolute;
            background: $secundary-color;
            z-index: 0;
            top: -35px;
            left: 15px;
            width: 0.2em;
            height: 4em;
        }

        &:first-child::before{
            display: none;
        }
    }


}

    // Media
    @media screen and (min-width: $md) {
        .card{
            margin: 80px 80px;
        }
    }

    @media screen and (min-width: $xl){
        .card{
            border-left: 30px solid $primary-color;
            width: 80%;
            margin: 50px auto;
            flex-direction: row;
            padding: 10px 50px;
            #{&}__figure{
                width: 50%;
            }
            &-content{
                width: 50%;
            }
        }
    }


// Design

.design{
    background: $primary-color;
    color: $white;
    @include setFlex(column, center, evenly);

    #{&}__title{
        margin: 100px;
        font-size: 2em;
        font-weight: map-get($font-weights, 'semibold');
        text-align: center;
        & hr{
            width: 60px;
            height: 20px;
            border: none;
            background: $white;
            border-radius: $radius-xl;
        }
    }
    #{&}__figure{
        margin: 0 50px;
    }
}
