@mixin hr($hr-color, $shadow) {
  width: 55px;
  height: 15px;
  border: none;
  background: $hr-color;
  border-radius: $radius-xl;
  @if ($shadow==true) {
    box-shadow: $font-shadow;
  }
}

@mixin primary-btn($btn-color, $shadow) {
  border: none;
  border-radius: $radius-m;
  padding: 15px 20px;
  color: $white;
  background: $btn-color;
  font-size: 1.1em;
  text-decoration: none;
  text-align: center;
  font-weight: map-get($font-weights, "medium");
  @if ($shadow==true) {
    box-shadow: $btn-shadow;
  }
}

@mixin background($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin background-image($url) {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: url($url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin element {
  padding: 40px;
  background: $white;
  border-radius: $radius-l;
  box-shadow: $element-shadow;
  margin: 0 auto;
  max-width: 900px;
  margin-top: 30px;
}

// See password button
.pass__field {
  position: relative;
  & .see-btn {
    display: none;
    right: 26.3px;
  }
}
.eye {
  position: absolute;
  font-size: 19px;
  top: 20.5px;
  right: 25px;
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

@media screen and (min-width: 1400px) {
  .eye {
    font-size: 22px;
    top: 30.5px;
    right: 30px;
  }
  .see-btn {
    right: 31px;
  }
}

// Hidden elements
.hidden {
  display: none !important;
}

// Banner
.banner {
  background-image: url("../img/backgrounds/banner-aprendiz.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: $radius-xl;
  &__p {
    color: $white;
    font-size: map-get($size-title, "l");
    font-weight: map-get($font-weights, "semibold");
  }
  margin: 40px;
}

// NAVIGATION VAR
.nav {
  background: $white;
  position: relative;
  @include setFlex(column, center, between);
  width: 100%;
  padding: 20px;
  top: 0;
  &__logo {
    width: 130px;
    margin-left: 20px;
    flex-shrink: 2;
    margin-bottom: 15px;
  }
  &-menu {
    display: flex;
    justify-content: center;
    padding-right: 20px;
    &--loged {
      margin-left: auto;
    }
    & .btn-menu {
      display: block;
      margin-left: auto;
      cursor: pointer;
      transition: all 0.3s;

      &--rotate {
        transform: rotate(180deg);
      }
    }

    &__links {
      padding: 20px;
      background: $white;
      z-index: 10;
      position: absolute;
      margin-top: 35px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    }
    &__item {
      list-style: none;
      margin-bottom: 15px;
    }
    &__link {
      text-decoration: none;
      color: $black;
      transition: all 0.2s;

      &:hover {
        color: $secundary-color;
        font-weight: map-get($font-weights, "semibold");
      }
      &--outline {
        margin-left: 15px;
        padding: 12px 15px;
        border-radius: $radius-xl;
        outline: 2px solid $black;
        &:hover {
          outline: 2px solid $black;
          font-weight: map-get($font-weights, "medium");
          color: $white;
          background: $secundary-color;
        }
      }
    }
  }
}

// @media screen and (min-width: $xl) {
//   .nav-y {
//     background: $white;
//     height: 100vh;
//     padding: 12px;
//     position: fixed;
//     @include setFlex(column, center, between);
//     & .nav__logo {
//       width: 130px;
//       margin-top: 40px;
//     }
//     & .nav-menu {
//       &__item {
//         list-style: none;
//         position: relative;

//         margin-bottom: 45px;
//         right: 12px;
//         bottom: 140px;

//         & a {
//           text-decoration: none;
//           color: $paragraph-color;
//           & i {
//             margin-right: 10px;
//             font-size: 20px;
//           }
//         }
//       }
//       &__link--active {
//         color: $primary-contrast !important;
//       }
//     }
//   }

//   .df {
//     display: flex;
//   }

//   .ml300 {
//     margin-left: 300px;
//   }
// }

.footer {
  background-color: $primary-color;
  color: $white;
  text-align: center;

  &-wave {
    top: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);

    & svg {
      display: block;
      width: calc(100% + 1.3px);
      height: 169px;
    }

    & .shape-fill {
      fill: #ebf0f6;
    }
  }

  &__content {
    @include setGridFit(200px, auto, 50px);
    justify-content: space-evenly;
    padding: 30px;
  }

  &__brand {
    font-size: map-get($size-title, "l");
    font-weight: map-get($font-weights, "semibold");
    margin-bottom: 15px;
  }

  &__title {
    font-size: map-get($size-title, "s");
    font-weight: map-get($font-weights, "medium");
    margin-bottom: 15px;
  }
  &__info {
    font-size: map-get($size-paragraph, "m");
    & div {
      margin-bottom: 10px;
    }
  }

  &__media {
    margin-top: 20px;
    @include setFlex(row, center, evenly);
    font-size: 30px;
  }

  &__contact {
    &-form {
      margin-top: 20px;
      @include setFlex(row, center, center);
    }
    &-email {
      height: 50px;
      border: none;
      border-radius: $radius-l;
      padding: 0 10px;
      margin-right: 5px;
    }
    &-button {
      height: 50px;
      @include primary-btn(
        linear-gradient(
          104.67deg,
          #ff5a5a -82.31%,
          #f11414 54.83%,
          #f11414 86.9%
        ),
        false
      );
    }
  }

  & hr {
    color: $white;
  }
  &__copyright {
    @include setFlex(row, center, between);
    font-size: map-get($size-paragraph, "m");
    padding: 20px;
  }
}

// Media
@media screen and (min-width: 450px) {
  .footer__contact {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: ($lg + 200px)) {
  .footer__contact {
    grid-column: 2 span;
  }
}

// COURSE BUTTON ELEMENT
.course {
  cursor: pointer;
  outline: none;
  margin-left: 20px;
  border: none;
  min-width: 180px;
  text-align: center;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  background: $white;
  border-radius: $radius-xl;
  text-decoration: none;
  color: $black;
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: $element-shadow;
  &__title {
    font-weight: map-get($font-weights, "semibold");
    font-size: map-get($size-paragraph, "xl");
  }
  &__id {
    color: $paragraph-color;
    margin-bottom: 10px;
  }
  &__figure {
    max-width: 100px;
  }
  &__unlink {
    cursor: pointer;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    border-radius: $radius-xl;
    padding: 10px 20px;
    color: $white;
    background: $secundary-color;
    font-weight: map-get($font-weights, "medium");
    & i {
      margin-right: 10px;
    }
    &:hover {
      background: rgba(0, 90, 255);
    }
  }
}

.course:focus {
  border: 5px solid $secundary-color;
}

// SIDEBAR

// Nav Controls
@keyframes displayMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.nav-menu--active {
  display: flex !important;
  animation: displayMenu 350ms ease-in-out both;
}

.br {
  fill: none;
  stroke: #272727;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.br-1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.br-2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.br-3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .br-1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .br-2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .br-3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

// NAV DASHBOARD
// Desktop
.wrapper {
  display: flex;
  position: relative;
  & .nav-y {
    position: fixed;
    background: $white;
    width: 250px;
    height: 100%;
    padding: 30px 10px;
    display: grid;
    justify-items: center;
    & .full-logo {
      width: 130px;
      display: block;
    }
    & .short-logo {
      display: none;
      width: 50px;
    }
    & .profile {
      margin-bottom: 45px;
      &__name {
        margin-bottom: 10px;
      }
    }
    & .profile:focus,
    .profile__name:hover {
      color: $secundary-color;
      outline: none;
    }
    & .logout-desktop {
      display: block;
      position: absolute;
      text-align: center;
      bottom: 40px;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.8);
    }
    & .logout-desktop:hover {
      color: $secundary-color;
    }
    & ul {
      padding: 0;
      margin: 0;
      width: 100%;
      & a {
        display: block;
        color: $paragraph-color;
        text-decoration: none;
        & li {
          padding: 20px;
          list-style: none;
          cursor: pointer;
          transition: 0.3s;

          & i {
            font-size: 20px;
            margin-right: 10px;
          }
        }
      }
      & a:focus {
        outline: none;
      }
      & .logout-mobile {
        display: none;
      }
    }
    & ul li:hover {
      background: #f2f0f0;
    }
  }
  & .main-content {
    width: 100%;
    margin-left: 280px;
    padding: 20px;
  }
  & .ham {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    & span {
      display: block;
      background: #272727;
      height: 3px;
      width: 28px;
      margin: 8px auto;
      border-radius: 2px;
    }
  }
}

// Mobile
@media screen and (max-width: $lg) {
  .wrapper {
    flex-direction: column;
    & .ham {
      display: block;
      position: absolute;
      left: 25px;
      top: 25px;
      transition: 0.2s 0.1s;
    }
    & .nav-y {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      height: auto;
      & .logo {
        margin-left: 80px;
      }
      & .full-logo {
        display: none;
      }
      & .short-logo {
        display: block;
      }
      & .profile {
        position: absolute;
        right: 25px;
        top: 35px;
        margin-bottom: 0;
      }
      & .logout-desktop {
        display: none;
      }
      & ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        padding: 0;
        display: none;
        opacity: 0;
        transition: opacity 5s ease-out;
        width: 100%;
        & a {
          width: 100%;
          text-align: center;
        }
        & .logout-mobile {
          display: block;
        }
      }
    }
    & .main-content {
      width: 100%;
      margin: 100px 0 0 0;
      padding: 20px;
    }
  }
}

.main-content__p {
  color: $paragraph-color;
  margin-bottom: 40px;
}

// PROFILE INTERFACE
.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 100px;
  &__header {
    grid-column: 2 span;
    margin: 10px 0;
    padding: 0;
  }
  &__p {
    grid-column: 2 span;
    margin-bottom: 30px;
    color: $paragraph-color;
  }
  &-photo {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__title {
      font-size: map-get($size-paragraph, "l");
      font-weight: map-get($font-weights, "medium");
      grid-column: 2 span;
      margin-bottom: 30px;
    }
    &__img {
      max-width: 180px;
      border-radius: 60%;
      box-shadow: $element-shadow;
    }
    &__btns {
      margin-left: -50px;
      margin-top: 15px;
      & button {
        display: block;
        margin: auto 0;
        width: 10;
        min-width: 156px;
      }
      & button:first-child {
        margin: 10px 0;
        @include primary-btn($secundary-color, false);
      }
      & button:nth-child(2) {
        border: 2px solid #d8d8d8;
        border-radius: 10px;
        padding: 15px 20px;
        color: $black;
        background: $white;
        font-size: 1.1em;
        font-weight: map-get($font-weights, "medium");
        & i {
          margin-right: 5px;
          color: $primary-contrast;
        }
      }
    }
    &__p {
      color: $paragraph-color;
      grid-column: 2 span;
      margin-top: 30px;
      font-size: 14px;
    }
  }

  &-banner {
    position: relative;
    display: flex;
    &__info {
      width: 100%;
      padding: 35px;
      height: 100%;
      background: #f3f3f3;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      & .profile-banner__title {
        width: 50%;
        margin-bottom: 20px;
        font-size: map-get($size-paragraph, "l");
        font-weight: map-get($font-weights, "medium");
      }
      & .profile-banner__p {
        width: 50%;
        color: $paragraph-color;
        font-size: 14px;
      }
    }
    &__figure {
      position: absolute;
      max-width: 320px;
      top: -20px;
      right: -20px;
    }
  }
  & .form {
    // margin-top: 40px;
    grid-column: 2 span;
    width: 100%;
    display: grid;
    margin: 40px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    row-gap: 25px;
    & .profile__field {
      width: 100%;
      &-label {
        font-size: map-get($size-paragraph, "s");
        color: #474545;
        margin-bottom: 15px;
      }
      &-input {
        display: block;
        border: 2px solid #d8d8d8;
        border-radius: 10px;
        height: 50px;
        padding: 20px;
        width: 90%;
      }
      & .type-date {
        padding: 0 20px;
      }
    }
    & .submit-btn {
      @include primary-btn($secundary-color, false);
      margin-top: 35px;
      height: 50px;
      width: 90%;
    }
  }
}

// PROFILE NAVBAR
.nav-profile {
  display: flex;
  text-decoration: none;
  color: $black;
  align-items: flex-end;
  position: relative;
  // bottom: 50px;
  &__img {
    width: 40px;
    border-radius: 50%;
    margin-right: 8px;
    border: 2px solid #272727;
  }
  &__name {
    margin-bottom: 10px;
  }
  &--y {
    bottom: 40px;
  }
}

.user {
  &-profile {
    max-width: 1000px;
    margin: 40px auto;
    display: flex;
    align-items: center;
    &__photo {
      max-width: 160px;
      border: 6px solid #ffffff;
      border-radius: 50%;
      filter: drop-shadow(0px 6px 7px rgba(0, 0, 0, 0.25));
    }
    &__info {
      margin-left: 50px;
    }
    &__name {
      font-size: map-get($size-title, "l");
      font-weight: map-get($font-weights, "semibold");
      margin-bottom: 5px;
    }
    &__label {
      display: flex;
      color: #636363;
      justify-content: space-between;
      align-items: center;
      max-width: 230px;
      font-weight: map-get($font-weights, "medium");
      & .dot {
        background: #636363;
        width: 4px;
        height: 4px;
        border-radius: 50%;
      }
    }
    &__contact {
      margin-top: 40px;
      display: flex;
      &-data {
        width: 300px;
        line-height: 35px;
        height: 40px;
        border: 2px solid #babababa;
        text-align: center;
        margin-right: 20px;
        color: #636363;
        border-radius: 10px;
        & i {
          margin-right: 8px;
        }
      }
    }
  }
  & hr {
    border-color: #d9d9d9;
    margin: 30px 0;
  }
  &-programs {
    &__label {
      margin-bottom: 20px;
      font-size: map-get($size-title, "s");
      font-weight: map-get($font-weights, "semibold");
    }
    & .course {
      margin: auto 20px auto 0;
      text-align: center;
      border: 2px solid #babababa;
    }
  }
}

// PUBLICATIONS

.publications-course {
  display: grid;
  padding: 0 50px 30px 50px;
  grid-template-columns: 450px 450px;
  justify-content: center;
  gap: 40px;
  margin: 30px auto;

  &__label {
    padding: 10px 50px;
    font-size: map-get($size-title, "m");
    font-weight: map-get($font-weights, "semibold");
    margin-bottom: 10px;
    color: #272727;
    grid-column: 2 span;
  }
  & hr {
    border-color: #e0e0e0;
    width: 100%;
    grid-column: 2 span !important;
  }

  & .publication {
    background: $white;
    border-radius: $radius-l;
    box-shadow: $element-shadow;
    padding: 40px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    &__title {
      font-size: map-get($size-paragraph, "xl");
      font-weight: map-get($font-weights, "semibold");
      margin-bottom: 10px;
    }
    &__date {
      font-style: italic;
      margin: 5px 3px;
    }
    &__info {
      background: #f9f9f9;
      border-radius: $radius-l;
      padding: 30px;
      margin: 20px 0;
    }
    &__p {
      overflow-wrap: break-word;
      font-size: 15px;
      margin-bottom: 15px;
    }
    &__date-limit {
      display: inline-block;
      margin-right: 10px;
      padding: 10px 20px;
      border-radius: $radius-xl;
      background: rgba($color: #ffe072, $alpha: 0.5);
    }
    &__type {
      display: inline-block;
      padding: 10px 20px;
      border-radius: $radius-xl;
      color: #202020;
      background: #80e483;
    }
    &__file {
      position: relative;
      & i {
        font-size: 25px;
        position: relative;
        top: 3px;
        margin-left: 15px;
        color: $secundary-color;
      }
      & span {
        font-size: 13px;
        font-weight: map-get($font-weights, "semibold");
        color: $black;
      }
    }
    &__btns {
      & a {
        display: block;
        text-decoration: none;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-link {
        color: $secundary-color;
      }
      &-evidences {
        @include primary-btn($secundary-color, false);
        cursor: pointer;
      }
    }
  }
}

// EVIDENCES
.user-evidences {
  margin-bottom: 40px;
  & .user-evidence {
    @include element;
    display: grid;
    width: 900px;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 290px 140px 130px 140px;
    padding: 40px;
    border: 2px solid #babababa;
    &__publication {
      display: flex;
    }
    &__icon {
      display: block;
      position: relative;
      top: -1.5px;
      margin-right: 15px;
      font-size: 28px;
      color: $secundary-color;
    }
    &__title {
      font-size: map-get($size-paragraph, "l");
      font-weight: map-get($font-weights, "medium");
    }
    &__date {
      padding: 10px 20px;
      text-align: center;
      border-radius: $radius-xl;
      background: rgba($color: #ffe072, $alpha: 0.5);
    }
    &__grade {
      &-value {
        margin-bottom: 5px;
        text-align: center;
      }
      &-range {
        width: 120px;
        height: 10px;
        background: #c5d6ee;
        border-radius: 10px;
        & span {
          display: block;
          height: 100%;
          border-radius: 10px;
          width: 100%;
        }
        & .grade-a {
          background: #00d809;
        }
        & .grade-b {
          background: #eba352;
        }
        & .grade-d {
          background: $primary-contrast;
        }
      }
    }
    &__icons {
      display: flex;
      min-width: 130px;
      justify-content: space-evenly;
      align-items: center;
    }
    &__observation {
      text-align: center;
    }
    &__file {
      font-size: 25px;
      text-decoration: none;
      color: $primary-contrast;
    }
  }
  & .user-evidence--empty {
    display: flex;
    justify-content: space-between;
    background: rgba($color: #ffab7a, $alpha: 0.5);
    .user-evidence__icon {
      color: rgba($color: #ff0f0f, $alpha: 0.8);
    }
    &__alert {
      padding: 10px 20px;
      text-align: center;
      border-radius: $radius-xl;
      background: rgba($color: #ff0f0f, $alpha: 0.8);
    }
  }
}
.user-label {
  margin-bottom: 20px;
  font-size: map-get($size-title, "s");
  font-weight: map-get($font-weights, "semibold");
}
.alert-message {
  padding: 40px;
  margin: 30px auto;
  position: relative;
  right: 18px;
  text-align: center;
  background: #ffd16d;
  padding: 20px 15px;
  border-radius: $radius-m;
  max-width: 900px;
  & i {
    font-size: 20px;
    margin-right: 10px;
    position: relative;
    top: 2px;
  }
}

// Publications
.publications-course {
  display: grid;
  padding: 0 30px;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin: 30px auto;
  &__label {
    padding: 10px 50px;
    font-size: map-get($size-title, "m");
    font-weight: map-get($font-weights, "semibold");
    margin-bottom: 10px;
    color: #272727;
    grid-column: 2 span;
  }
  & hr {
    border-color: #e0e0e0;
    width: 100%;
    grid-column: 2 span !important;
  }

  & .publication {
    background: $white;
    border-radius: $radius-l;
    box-shadow: $element-shadow;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    &__title {
      font-size: map-get($size-paragraph, "xl");
      font-weight: map-get($font-weights, "semibold");
      margin-bottom: 10px;
    }
    &__date {
      font-style: italic;
      margin: 5px 3px;
    }
    &__info {
      background: #f9f9f9;
      border-radius: $radius-l;
      padding: 30px;
      margin: 20px 0;
    }
    &__p {
      font-size: 15px;
      margin-bottom: 15px;
    }
    &__date-limit {
      display: inline-block;
      margin-right: 10px;
      padding: 10px 20px;
      border-radius: $radius-xl;
      background: rgba($color: #ffe072, $alpha: 0.5);
    }
    &__type {
      display: inline-block;
      padding: 10px 20px;
      border-radius: $radius-xl;
      color: #202020;
      background: #80e483;
    }
    &__file {
      position: relative;
      & i {
        font-size: 25px;
        position: relative;
        top: 3px;
        margin-left: 15px;
        color: $secundary-color;
      }
      & span {
        font-size: 13px;
        font-weight: map-get($font-weights, "semibold");
        color: $black;
      }
    }
    &__btns {
      & a {
        display: block;
        text-decoration: none;
      }
      display: flex;
      justify-content: space-between;
      align-items: center;
      &-link {
        color: $secundary-color;
      }
      &-evidences {
        @include primary-btn($secundary-color, false);
        cursor: pointer;
      }
    }
    &__btn-delete {
      position: absolute;
      right: 40px;
      font-size: 25px;
      color: $primary-contrast;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1400px) {
  .publications-course {
    gap: 30px;
  }
}
