@import "./config/variables";
@import "./config/fonts";
@import "./config/normalize";
@import "./config/flex";
@import "./config/grid";
@import "./blocks/elements";

body,
html {
  height: 100% !important;
  position: relative !important;
}

.crud-choise {
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  gap: 30px;
  justify-content: center;
  & .crud-option {
    padding: 30px;
    border-radius: $radius-l;
    background: $white;
    box-shadow: $element-shadow;
    max-width: 240px;
    text-align: center;
    display: grid;
    row-gap: 15px;
    &__label {
      font-size: map-get($size-paragraph, "xl");
      font-weight: map-get($font-weights, "semibold");
    }
    &__num {
      background: #e6f8eb;
      color: #00ff47;
      width: max-content;
      padding: 10px 15px;
      border-radius: 10px;
      margin: 0 auto;
    }
    &__btn {
      @include primary-btn($secundary-color, none);
    }
    &__btn-create {
      @include primary-btn(#29d95b, none);
    }
  }
  & .create-button {
    background: #8eff9a;
    text-decoration: none;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    & .crud-option__label {
      font-size: map-get($size-paragraph, "xl");
      font-weight: map-get($font-weights, "semibold");
      position: absolute;
      top: 30px;
    }
    & i {
      display: block;
      font-size: 100px;
    }
    &:hover {
      background: #80ff8c;
      cursor: pointer;
    }
  }
}

.btn-create {
  position: fixed !important;
  right: 80px;
}
.mb-50 {
  margin-bottom: 50px;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  position: absolute;

  background-color: #fff;
  padding: 30px 80px;
  border-radius: 0.5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.max-height-form {
  max-height: 100vh;
  overflow-y: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 50px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.crud-modal {
  margin: 40px auto;
}
.form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;

  & .rol {
    grid-column: 3 span;
    margin-bottom: 30px;
  }
}

.grid-col-3 {
  grid-column: 3 span !important;
  margin-bottom: 40px;
}

.overflow-hidden {
  overflow-y: hidden;
}

.modal {
  &__header {
    text-align: center;
    align-self: center;
    margin-bottom: 50px;
    & h2 {
      margin-bottom: 10px;
    }
    & hr {
      @include hr($primary-contrast, false);
    }
  }

  & .form {
    &__field {
      @include setFlex(column, stretch, center);
      & label {
        display: block;
        margin-bottom: 10px;
      }
      & .submit-btn {
        @include primary-btn($primary-contrast, false);
      }
    }
    & .submit__field {
      grid-column: 3 span;
    }
  }
}

.rol__options {
  display: flex;
  height: 60%;
  justify-content: space-evenly;
  align-items: center;
}

.doc-type {
  margin-bottom: auto;
  & select {
    height: 60px;
    border: 1px solid $black;
    border-radius: 20px;
    padding: 10px;
  }
}

.edit-user-body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: url(../img/backgrounds/signup-bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// APRENDIZ MANAGEMENT

.course--management {
  cursor: default;
}

.evidence-management {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  position: relative;
  padding-right: 40px;
  & .evidence-management__btn-delete {
    position: absolute;
    font-size: 25px;
    top: 77px;
    right: 20px;
    color: $primary-contrast;
    cursor: pointer;
  }
}

.activities-course {
  & .activity {
    border: 2px solid rgba(186, 186, 186, 0.7294117647);
  }
}

// EDIT SLIDER
.main-options {
  display: flex;
}
.main-option {
  background: $white;
  margin-right: 40px;
  text-decoration: none;
  box-shadow: $element-shadow;
  width: 400px;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: $radius-xl;
  margin-bottom: 40px;
  & i {
    left: 100px;
    color: $secundary-color;
    font-size: 50px;
    display: block;
    margin-right: 20px;
  }
  &__btn {
    @include primary-btn($secundary-color, false);
  }
}

// Announcements form
.float-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 800px;
  z-index: 1000;
  background: $white;
  border-radius: $radius-xl;
  box-shadow: $element-shadow;
  & .btn-close {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 30px;
    right: 40px;
    border: none;
    background: none;
    font-size: 30px;
  }

  &__title {
    padding: 30px;
    text-align: center;
    font-size: map-get($size-title, "m");
    font-weight: map-get($font-weights, "semibold");
  }
  & hr {
    margin: 0;
    border-color: #fafafa;
  }
  &__file {
    font-weight: map-get($font-weights, "semibold");
    display: block;
    text-decoration: none;
    color: $secundary-color;
    & span {
      font-size: map-get($size-paragraph, "m");
      font-weight: map-get($font-weights, "medium");
    }
    & i {
      font-size: 24px;
      position: relative;
      top: 3px;
      color: $secundary-color;
      margin-right: 10px;
    }
  }

  &__field {
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-label {
      & span {
        font-size: map-get($size-paragraph, "m");
        font-weight: map-get($font-weights, "medium");
      }
      & i {
        font-size: 24px;
        position: relative;
        top: 3px;
        color: $secundary-color;
        margin-right: 10px;
      }
    }

    &-input {
      display: block;
      height: 40px;
      border: none;
      font-size: 18px;
      &--title {
        width: 100%;
        font-size: map-get($size-title, "s");
        font-weight: map-get($font-weights, "medium");
      }
      &--date {
        background: rgba(28, 119, 255, 0.466);
        color: rgb(0, 60, 255);
        text-align: center;
        padding: 10px;
        border-radius: $radius-m;
      }
    }

    & .btn-close {
      cursor: pointer;
      display: block;
      border: none;
      background: none;
      color: $primary-contrast;
      font-size: 25px;
    }

    & .btn-submit {
      cursor: pointer;
      margin-left: 30px;
      @include primary-btn($secundary-color, false);
    }

    & .file-empty {
      font-style: italic;
      color: #909090;
    }

    & .file-choise {
      padding-right: 20px;
      & label {
        cursor: pointer;
        display: block;
        color: rgba(0, 0, 0, 0.8);
        font-size: 25px;
        position: relative;

        & .uploaded-file {
          font-size: 13px;
          font-weight: map-get($font-weights, "semibold");
          color: $secundary-color;
          position: absolute;
          width: 600px;
          top: -6px;
          right: 30px;
          margin-right: 0 20px;
          text-align: right;
          transition: all 0.3s;
          &--right {
            width: 200px;
            top: -6px;
            left: 30px;
            text-align: left;
          }
        }
      }

      & label:hover {
        color: $secundary-color;
      }
      & input {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
    }
  }
  &__field--description {
    position: relative;
    & .float-form__field-input {
      width: 100%;
      height: 200px;
      resize: none;
      border: 2px solid $secundary-color;
      border-radius: $radius-l;
      padding: 20px;
    }
    & .float-form__field-label {
      position: absolute;
      font-size: map-get($size-paragraph, "l");
      font-weight: map-get($font-weights, "semibold");
      top: 18px;
      left: 80px;
      background: white;
    }
  }
}

@media screen and (min-width: 1500px) {
  .float-form {
    transform: translate(-50%, -47%);
  }
}

@media screen and (min-width: 1700px) {
  .float-form {
    transform: translate(-50%, -50%);
  }
}

.subject {
  display: grid;
  grid-template-columns: 200px 1fr 100px;
  padding: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  &:last-child {
    border-bottom: none;
  }
  &__image {
    margin: auto;
    max-width: 200px;
  }
  &__info {
    margin: 0 40px;
    &-title {
      font-size: map-get($size-paragraph, "xl");
      font-weight: map-get($font-weights, "semibold");
      margin-bottom: 20px;
    }
    &-description {
      color: $paragraph-color;
    }
  }
  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__btn {
    font-size: 40px;
    text-decoration: none;
    color: $secundary-color;
    &--delete {
      margin-top: 20px;
      color: $primary-contrast;
    }
  }
}
