@import "./config/variables";
@import "./config/fonts";
@import "./config/normalize";
@import "./config/flex";
@import "./config/grid";
@import "./blocks/elements";

body,
html {
  height: 100% !important;
  position: relative !important;
  scroll-behavior: unset !important;
}

.crud-choise {
  display: grid;
  grid-template-columns: repeat(auto-fit, 230px);
  gap: 30px;
  justify-content: center;
  &--no-centered {
    justify-content: start;
    margin-left: 100px;
  }
  & .crud-option {
    padding: 30px;
    border-radius: $radius-l;
    background: $white;
    box-shadow: $element-shadow;
    max-width: 240px;
    text-align: center;
    display: grid;
    row-gap: 15px;
    &__label {
      font-size: map-get($size-paragraph, "xl");
      font-weight: map-get($font-weights, "semibold");
    }
    &__num {
      background: #e6f8eb;
      color: #00ff47;
      width: max-content;
      padding: 10px 15px;
      border-radius: 10px;
      margin: 0 auto;
    }
    &__btn {
      @include primary-btn($secundary-color, none);
    }
    &__btn-create {
      @include primary-btn(#29d95b, none);
    }
  }
  & .create-button {
    background: #8eff9a;
    text-decoration: none;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    & .crud-option__label {
      font-size: map-get($size-paragraph, "xl");
      font-weight: map-get($font-weights, "semibold");
      position: absolute;
      top: 30px;
    }
    & i {
      display: block;
      font-size: 100px;
    }
    &:hover {
      background: #80ff8c;
      cursor: pointer;
    }
  }
}

.btn-create {
  position: fixed !important;
  right: 80px;
}
.mb-50 {
  margin-bottom: 50px;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 70%;
  position: absolute;
  background-color: #fff;
  padding: 30px 80px;
  border-radius: 0.5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.max-height-form {
  max-height: 100vh;
  overflow-y: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-button {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 50px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.crud-modal {
  margin: 40px auto;
}
.form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;

  & .rol {
    grid-column: 3 span;
    margin-bottom: 30px;
  }
}

.grid-col-3 {
  grid-column: 3 span !important;
  margin-bottom: 40px;
}

.overflow-hidden {
  overflow-y: hidden;
}

.modal {
  &__header {
    text-align: center;
    align-self: center;
    margin-bottom: 50px;
    & h2 {
      margin-bottom: 10px;
    }
    & hr {
      @include hr($primary-contrast, false);
    }
  }

  & .form {
    &__field {
      @include setFlex(column, stretch, center);
      & label {
        display: block;
        margin-bottom: 10px;
      }
      & .submit-btn {
        @include primary-btn($primary-contrast, false);
      }
    }
    & .submit__field {
      grid-column: 3 span;
    }
  }
}

.rol__options {
  display: flex;
  height: 60%;
  justify-content: space-evenly;
  align-items: center;
}

.doc-type {
  margin-bottom: auto;
  & select {
    height: 60px;
    border: 1px solid $black;
    border-radius: 20px;
    padding: 10px;
  }
}

.edit-user-body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: url(../img/backgrounds/signup-bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// APRENDIZ MANAGEMENT

.course--management {
  cursor: default;
}

.evidence-management {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  position: relative;
  padding-right: 40px;
  & .evidence-management__btn-delete {
    position: absolute;
    font-size: 25px;
    top: 77px;
    right: 20px;
    color: $primary-contrast;
    cursor: pointer;
  }
}

.activities-course {
  & .activity {
    border: 2px solid rgba(186, 186, 186, 0.7294117647);
  }
}

// EDIT SLIDER
.main-options {
  display: flex;
}
.main-option {
  background: $white;
  margin-right: 40px;
  text-decoration: none;
  box-shadow: $element-shadow;
  width: 400px;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: $radius-xl;
  margin-bottom: 40px;
  & i {
    left: 100px;
    color: $secundary-color;
    font-size: 50px;
    display: block;
    margin-right: 20px;
  }
  &__btn {
    @include primary-btn($secundary-color, false);
  }
}

// Announcements form
.float-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: $white;
  border-radius: $radius-xl;
  box-shadow: $element-shadow;
  width: 800px;
  & .btn-close {
    cursor: pointer;
    display: block;
    position: absolute;
    top: 30px;
    right: 40px;
    border: none;
    background: none;
    font-size: 30px;
  }

  &__title {
    padding: 30px;
    text-align: center;
    font-size: map-get($size-title, "m");
    font-weight: map-get($font-weights, "semibold");
  }
  & hr {
    margin: 0;
    border-color: #fafafa;
  }
  &__file {
    font-weight: map-get($font-weights, "semibold");
    display: block;
    text-decoration: none;
    color: $secundary-color;
    & span {
      font-size: map-get($size-paragraph, "m");
      font-weight: map-get($font-weights, "medium");
    }
    & i {
      font-size: 24px;
      position: relative;
      top: 3px;
      color: $secundary-color;
      margin-right: 10px;
    }
  }

  &__field {
    padding: 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-group {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    &:first-child {
      border-right: 2px solid #dedede;
    }

    &-label {
      & span {
        font-size: map-get($size-paragraph, "m");
        font-weight: map-get($font-weights, "medium");
      }
      & i {
        font-size: 24px;
        position: relative;
        top: 3px;
        color: $secundary-color;
        margin-right: 10px;
      }
    }

    &-input {
      display: block;
      height: 30px;
      border: none;
      font-size: 18px;
      &--title {
        width: 100%;
        font-size: map-get($size-title, "s");
        font-weight: map-get($font-weights, "medium");
      }
      &--date {
        background: rgba(28, 119, 255, 0.466);
        color: rgb(0, 60, 255);
        text-align: center;
        padding: 10px;
        border-radius: $radius-m;
      }
    }

    & .btn-close {
      cursor: pointer;
      display: block;
      border: none;
      background: none;
      color: $primary-contrast;
      font-size: 25px;
    }

    & .btn-submit {
      cursor: pointer;
      margin-left: 30px;
      @include primary-btn($secundary-color, false);
    }

    & .file-empty {
      font-style: italic;
      color: #909090;
    }

    & .file-choise {
      & label {
        cursor: pointer;
        display: block;
        color: rgba(0, 0, 0, 0.8);
        font-size: 25px;
        position: relative;

        & .uploaded-file {
          font-size: 13px;
          font-weight: map-get($font-weights, "semibold");
          color: $secundary-color;
          position: absolute;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* number of lines to show */
          -webkit-box-orient: vertical;
          width: 100px;
          top: -6px;
          right: 30px;
          transition: all 0.3s;
          &--right {
            width: 200px;
            top: -6px;
            left: 30px;
            text-align: left;
          }
        }
      }

      & label:hover {
        color: $secundary-color;
      }
      & input {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
    }
  }
  &__field--description {
    position: relative;
    & .float-form__field-input {
      width: 100%;
      height: 180px;
      resize: none;
      border: 2px solid $secundary-color;
      border-radius: $radius-l;
      padding: 20px;
    }
    & .float-form__field-label {
      position: absolute;
      font-size: map-get($size-paragraph, "l");
      font-weight: map-get($font-weights, "semibold");
      top: 12px;
      left: 80px;
      background: white;
    }
  }
}

// COURSES

.subject {
  display: grid;
  grid-template-columns: 200px 1fr 100px;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  &:last-child {
    border-bottom: none;
  }
  &__image {
    margin: auto;
    max-width: 100px;
  }
  &__name {
    font-size: map-get($size-paragraph, "xl");
    font-weight: map-get($font-weights, "semibold");
  }
  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__btn {
    font-size: 25px;
    text-decoration: none;
    color: $secundary-color;
    &--delete {
      margin-left: 20px;
      color: $primary-contrast;
    }
  }
}

.course-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: $white;
  border-radius: $radius-xl;
  padding: 20px;
  & .close-modal {
    position: absolute;
    top: 0;
    right: 30px;
    font-size: 50px;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }
  &__header {
    text-align: center;
    & hr {
      margin: 20px -20px;
    }
  }
  &.group-form {
    & .course-form__submit {
      grid-area: submit;
    }
    & .course-form__data {
      display: grid;
      padding: 20px;
      grid-template-areas:
        "name file subjects subjects"
        "description description subjects subjects"
        "empty empty submit submit";
      gap: 20px;
    }
  }
  &.subject-form {
    min-width: 600px;
    & .course-form__data {
      padding: 20px;
      display: grid;
      grid-template-columns: 1fr 220px 1fr;
      gap: 20px;
    }
  }
  &__field {
    &--flex {
      display: flex;
      & input {
        margin-right: 10px;
      }
    }
    &-label {
      font-size: map-get($size-paragraph, "l");
      font-weight: map-get($font-weights, "medium");
      display: block;
      margin-bottom: 15px;
    }
    &-input {
      border: 1px solid $paragraph-color;
      padding: 20px;
      border-radius: $radius-m;
      height: 40px;
      font-size: 20px;
      &--large {
        width: 300px;
      }
    }
    & .file-choise {
      padding-right: 20px;
      & label {
        cursor: pointer;
        display: block;
        color: rgba(0, 0, 0, 0.8);
        font-size: 25px;
        position: relative;

        & .uploaded-file {
          font-size: 13px;
          font-weight: map-get($font-weights, "semibold");
          color: $secundary-color;
          position: absolute;
          width: 160px;
          word-wrap: break-word;
          top: -6px;
          left: 30px;
          transition: all 0.3s;
          &--right {
            width: 200px;
            top: -6px;
            left: 30px;
            text-align: left;
          }
        }
      }

      & label:hover {
        color: $secundary-color;
      }
      & input {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
    }
    &--description {
      grid-area: description;
      position: relative;
      padding: 30px 0;
      margin-bottom: -20px;
      & label {
        position: absolute;
        font-size: map-get($size-paragraph, "l");
        font-weight: map-get($font-weights, "semibold");
        top: 18px;
        left: 70px;
        background: white;
      }
      & textarea {
        width: 100%;
        height: 200px;
        resize: none;
        border: 2px solid $secundary-color;
        border-radius: $radius-l;
        padding: 20px;
      }
    }
    &--subjects {
      grid-area: subjects;
    }
  }
  &__submit {
    @include primary-btn($secundary-color, false);
    height: 60px;
    margin-top: auto;
  }
}

.course-subjects {
  position: relative;
  & .course-form__field-input {
    border: 2px solid $primary-color;
    padding-left: 40px;
  }
  & i {
    position: absolute;
    color: $paragraph-color;
    font-size: 20px;
    left: 14px;
    top: 12px;
  }
  & ul {
    list-style-type: none;
    padding: 10px 30px;
    & li {
      margin-left: -20px;
      padding: 10px;
      & label {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 17px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        & .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 25px;
          width: 25px;
          background-color: #eee;
          outline: 1px solid $paragraph-color;

          &:after {
            content: "";
            position: absolute;
            display: none;
          }
          &:after {
            left: 9px;
            top: 5px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
        & input:checked ~ .checkmark:after {
          display: block;
        }
        & input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
          &:checked ~ .checkmark {
            background-color: #2196f3;
          }
        }
        &:hover input ~ .checkmark {
          background-color: $primary-color;
        }
      }
    }
  }
  &__list {
    margin-top: 20px;
    border: 2px solid $secundary-color;
    border-radius: $radius-l;
    height: 235px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: $radius-xl;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: $radius-xl;
      background-color: $secundary-color;
    }
  }
}

.random-number {
  display: inline-block;
  cursor: pointer;
  color: $white;
  padding: 10px;
  border-radius: $radius-m;
  background: $primary-color;
}

.crud-group {
  & tbody {
    font-size: 20px;
  }
}
