@import "./config/variables";
@import "./config/fonts";
@import "./config/normalize";
@import "./config/flex";
@import "./config/grid";
@import "./blocks/elements";
@import "./blocks/inputs";

body,
html {
  height: 100% !important;
  position: relative !important;
}

.crud-choise {
  display: grid;
  grid-template-columns: repeat(4, 240px);
  gap: 30px;
  margin-left: -20px;
  justify-content: center;
  & .crud-option {
    padding: 30px;
    border-radius: $radius-l;
    background: $white;
    box-shadow: $element-shadow;
    max-width: 240px;
    text-align: center;
    display: grid;
    row-gap: 15px;
    &__label {
      font-size: map-get($size-paragraph, "xl");
      font-weight: map-get($font-weights, "semibold");
    }
    &__num {
      background: #e6f8eb;
      color: #00ff47;
      width: max-content;
      padding: 10px 15px;
      border-radius: 10px;
      margin: 0 auto;
    }
    &__btn {
      @include primary-btn($secundary-color, none);
    }
  }
  & .create-button {
    background: #8eff9a;
    text-decoration: none;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    & .crud-option__label {
      font-size: map-get($size-paragraph, "xl");
      font-weight: map-get($font-weights, "semibold");
      position: absolute;
      top: 30px;
    }
    & i {
      display: block;
      font-size: 100px;
    }
    &:hover {
      background: #80ff8c;
      cursor: pointer;
    }
  }
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  text-align: center;
}
.crud {
  margin-top: 50px;
}

.card {
  background: $white;
  box-shadow: $element-shadow;
  border-radius: $radius-xl;
  &-header {
    background: $secundary-color;
    border-top-left-radius: $radius-xl;
    border-top-right-radius: $radius-xl;

    padding: 20px 15px;
    color: $white;
    font-size: map-get($size-paragraph, "l");
  }
  & table {
    tbody {
      tr {
        height: 60px;
        a {
          font-size: 20px !important;
          margin-left: 10px;
        }
        .edit-button {
          color: $secundary-color;
        }
        .see-button {
          color: $primary-color;
        }
        .delete-button {
          color: $primary-contrast !important;
        }
      }
      tr:hover {
        font-weight: map-get($font-weights, "medium");
        color: $secundary-color;
        outline: 2px solid $secundary-color;
      }
    }
  }
}

.align-middle {
  vertical-align: middle !important;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: $table-color;
  vertical-align: top;
  border-color: $table-border-color;
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: $white;
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px $table-accent-bg;
}
.table > tbody {
  vertical-align: inherit;
}
.table > thead {
  vertical-align: bottom;
}

.table-group-divider {
  border-top: 2px solid currentcolor;
}

.caption-top {
  caption-side: top;
}

.table-sm > :not(caption) > * > * {
  padding: 0.25rem 0.25rem;
}

.table-bordered > :not(caption) > * {
  border-width: 1px 0;
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}

.table-borderless > :not(caption) > * > * {
  border-bottom-width: 0;
}
.table-borderless > :not(:first-child) {
  border-top-width: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  $table-accent-bg: $table-striped-bg;
  color: $table-striped-color;
}

.table-striped-columns > :not(caption) > tr > :nth-child(even) {
  $table-accent-bg: $table-striped-bg;
  color: $table-striped-color;
}

.table-active {
  $table-accent-bg: $table-active-bg;
  color: $table-active-color;
}

.table-hover > tbody > tr:hover > * {
  $table-accent-bg: $table-hover-bg;
  color: $table-hover-color;
}

thead tr {
  border-bottom: 2px solid $black;
}

th {
  padding-bottom: 20px !important;
}

.hidden {
  display: none !important;
}

.p-4 {
  background: $white;
  border-radius: 0 0 20px 20px;
}

.btn-create {
  position: fixed !important;
  right: 80px;
}
.mb-50 {
  margin-bottom: 50px;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  position: absolute;

  background-color: #fff;
  padding: 30px 80px;
  border-radius: 0.5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.max-height-form {
  max-height: 800px;
  overflow-y: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

@media screen and (min-width: 1300px) {
  .overlay {
    height: 800px;
  }
}

@media screen and (min-width: 1700px) {
  .overlay {
    height: 100vh;
  }
}

.close-button {
  position: absolute;
  top: 15px;
  right: 30px;
  font-size: 50px;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.roles {
  margin-left: -20px;
}
.form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;

  & .rol {
    grid-column: 3 span;
    margin-bottom: 30px;
  }
}

.grid-col-3 {
  grid-column: 3 span !important;
  margin-bottom: 40px;
}

.overflow-hidden {
  overflow-y: hidden;
}

.modal {
  &__header {
    text-align: center;
    align-self: center;
    margin-bottom: 50px;
    & h2 {
      margin-bottom: 10px;
    }
    & hr {
      @include hr($primary-contrast, false);
    }
  }

  & .form {
    &__field {
      @include setFlex(column, stretch, center);
      & label {
        display: block;
        margin-bottom: 10px;
      }
      & .submit-btn {
        @include primary-btn($primary-contrast, false);
      }
    }
    & .submit__field {
      grid-column: 3 span;
    }
  }
}

.rol__options {
  display: flex;
  height: 60%;
  justify-content: space-evenly;
  align-items: center;
}

.doc-type {
  margin-bottom: auto;
  & select {
    height: 60px;
    border: 1px solid $black;
    border-radius: 20px;
    padding: 10px;
  }
}

.edit-user-body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: url(../img/backgrounds/signup-bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// APRENDIZ MANAGEMENT

.course--management {
  cursor: default;
}

.evidence-management {
  display: flex;
  width: 1000px;
  margin: 0 auto;
  position: relative;
  padding-right: 40px;
  & .evidence-management__btn-delete {
    position: absolute;
    font-size: 25px;
    top: 77px;
    right: 20px;
    color: $primary-contrast;
    cursor: pointer;
  }
}

.activities-course {
  & .activity {
    border: 2px solid rgba(186, 186, 186, 0.7294117647);
  }
}

// EDIT SLIDER
.main-options {
  display: flex;
}
.main-option {
  background: $white;
  margin-right: 40px;
  text-decoration: none;
  box-shadow: $element-shadow;
  width: 400px;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: $radius-xl;
  margin-bottom: 40px;
  & i {
    left: 100px;
    color: $secundary-color;
    font-size: 50px;
    display: block;
    margin-right: 20px;
  }
  &__btn {
    @include primary-btn($secundary-color, false);
  }
}

// ANNOUNCEMENTS
.announcements {
  position: relative;
  &__label {
    margin-bottom: 20px;
  }
  & hr {
    margin-bottom: 20px;
  }
  & .announcement-management {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    max-width: 1100px;
    padding: 20px;
    &__actions {
      margin-top: 30px;
    }
    &__btn {
      display: block;
      margin-bottom: 10px;
      background: $white;
      text-decoration: none;
      padding: 15px;
      border-top: 1px solid #a5a5a5;
      border-right: 1px solid #a5a5a5;
      border-bottom: 1px solid #a5a5a5;
      font-size: 20px;
      &--delete {
        color: $primary-contrast;
      }
      &--edit {
        color: $secundary-color;
      }
    }
  }
}

.announcement {
  @include element;
  background-image: url("../img/backgrounds/announcement-bg.svg");
  background-repeat: no-repeat;
  display: flex;
  padding: 0;
  margin: 0;
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
  }
  &__title {
    font-size: map-get($size-title, "m");
    font-weight: map-get($font-weights, "semibold");
    text-align: center;
    margin-bottom: 40px;
  }
  &__p {
    margin: 0 auto;
    text-align: center;
  }
  &__img {
    border-radius: 0 $radius-l $radius-l 0;
    height: 100%;
    max-width: 500px;
    grid-row: 2 span;
  }
}

// Announcement media-query
@media screen and (max-width: 1200px) {
  .announcement {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 500px;

    &__title {
      padding: 40px 40px 0 40px;
    }
    &__p {
      padding: 0 25px;
    }
    &__img {
      border-radius: 0 0 $radius-l $radius-l;
    }
  }
}

// activities
.float-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  width: 800px;
  z-index: 100;
  background: $white;
  border-radius: $radius-xl;
  box-shadow: $element-shadow;
  &__title {
    padding: 30px;
    text-align: center;
    font-size: map-get($size-title, "m");
    font-weight: map-get($font-weights, "semibold");
  }
  & hr {
    margin: 0;
    border-color: #fafafa;
  }
  &__field {
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-label {
      & span {
        font-size: map-get($size-paragraph, "m");
        font-weight: map-get($font-weights, "medium");
      }
      & i {
        font-size: 24px;
        position: relative;
        top: 3px;
        color: $secundary-color;
        margin-right: 10px;
      }
    }

    &-input {
      display: block;
      height: 40px;
      border: none;
      font-size: 18px;
      &--title {
        width: 100%;
        font-size: map-get($size-title, "s");
        font-weight: map-get($font-weights, "medium");
      }
      &--date {
        background: rgba(28, 119, 255, 0.466);
        color: rgb(0, 60, 255);
        text-align: center;
        padding: 10px;
        border-radius: $radius-m;
      }
    }

    & .btn-close {
      cursor: pointer;
      display: block;
      border: none;
      background: none;
      color: $primary-contrast;
      font-size: 25px;
    }

    & .btn-submit {
      cursor: pointer;
      @include primary-btn($secundary-color, false);
    }

    & .file-choise {
      padding-right: 20px;
      & label {
        cursor: pointer;
        display: block;
        color: rgba(0, 0, 0, 0.8);
        font-size: 25px;
        position: relative;

        & .file-name {
          font-size: 13px;
          font-weight: map-get($font-weights, "semibold");
          color: $secundary-color;
          position: absolute;
          width: 600px;
          top: -6px;
          right: 30px;
          margin-right: 0 20px;
          text-align: right;
          transition: all 0.3s;
        }
      }
      & label:hover {
        color: $secundary-color;
      }
      & input {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
    }
  }
  &__field--description {
    position: relative;
    & .float-form__field-input {
      width: 100%;
      height: 200px;
      resize: none;
      border: 2px solid $secundary-color;
      border-radius: $radius-l;
      padding: 20px;
    }
    & .float-form__field-label {
      position: absolute;
      font-size: map-get($size-paragraph, "l");
      font-weight: map-get($font-weights, "semibold");
      top: 18px;
      left: 80px;
      background: white;
    }
  }
}

@media screen and (min-width: 1700px) {
  .float-form {
    transform: translate(-50%, -50%);
  }
}
