@import "./config/variables";
@import "./config/fonts";
@import "./config/normalize";
@import "./config/flex";
@import "./config/grid";
@import "./blocks/elements";
@import "./blocks/inputs";

.courses {
  &__title {
    margin-bottom: 30px;
  }
  &__list {
    display: flex;
  }
  & .course {
    min-width: 180px;
  }
}

// EVIDENCE
.evidence {
  background: $white;
  border-radius: $radius-l;
  box-shadow: $element-shadow;
  max-width: 1000px;
  margin: 0 auto;
  &__header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__instructor {
    display: flex;
    align-items: center;
    &-photo {
      max-width: 60px;
      border-radius: 60%;
      margin-right: 10px;
    }
    &-name {
      font-size: map-get($size-paragraph, "xl");
      font-weight: map-get($font-weights, "semibold");
    }
  }
  &__info {
    display: flex;
    & div {
      font-weight: map-get($font-weights, "medium");
    }
    &-date-limit {
      display: inline-block;
      margin-right: 10px;
      padding: 10px 20px;
      border-radius: $radius-xl;
      background: rgba($color: #ffe072, $alpha: 0.5);
    }
    &-type {
      display: inline-block;
      padding: 10px 20px;
      border-radius: $radius-xl;
      color: white;
      background: #00d809;
    }
  }
  &__content {
    padding: 30px 50px;
  }
  &__title {
    font-size: map-get($size-title, "l");
    font-weight: map-get($font-weights, "semibold");
    margin-bottom: 15px;
  }
  &__date {
    font-size: map-get($size-paragraph, "l");
    font-style: italic;
    color: #272727;
    margin-bottom: 25px;
  }
  &__p {
    color: $paragraph-color;
    margin-bottom: 25px;
  }
  &__file {
    margin-bottom: 20px;
    & i {
      font-size: 25px;
      position: relative;
      top: 4px;
      margin-right: 5px;
      color: $secundary-color;
    }

    & a {
      text-decoration: none;
      font-size: 14px;
      font-weight: map-get($font-weights, "semibold");
      color: $black;
    }
  }
}

.upload-form {
  @include element;
  display: grid;
  gap: 20px;
  grid-template-columns: 230px 4fr 1fr;
  &__file {
    background: #ebebeb;
    border-radius: 20px;

    & label {
      display: block;
      background: $secundary-color;
      height: 50px;
      text-align: center;
      line-height: 50px;
      color: $white;
      border-radius: 20px 20px 0 0;
      transition: all 0.3s;
      cursor: pointer;
      & i {
        margin-right: 10px;
      }
    }
    & label:hover {
      background: #177cf0;
    }
    & input {
      opacity: 0;
      position: absolute;
      z-index: -1;
    }
    &-choised {
      padding: 20px;
      margin-bottom: 10px;
      overflow-wrap: break-word;
      line-height: 20px;
      & i {
        font-size: 25px;
        position: relative;
        top: 2px;
        margin-right: 5px;
        color: $secundary-color;
      }

      & span {
        font-size: 14px;
        font-weight: map-get($font-weights, "semibold");
        color: $black;

        position: relative;
        top: -2px;
      }
    }
  }
  &__textarea {
    position: relative;
    &-input {
      width: 100%;
      height: 200px;
      resize: none;
      border: 2px solid $secundary-color;
      border-radius: $radius-l;
      padding: 20px;
    }
    &-input:focus {
      outline: none;
    }
    &-label {
      position: absolute;
      font-size: map-get($size-paragraph, "l");
      font-weight: map-get($font-weights, "semibold");
      top: -12px;
      left: 40px;
      background: white;
    }
  }
  &__btn-submit {
    cursor: pointer;
    height: 80px;
    width: 80px;
    margin: auto;
    font-size: 60px;
    background: none;
    border: none;
    color: $secundary-color;
  }
  &__btn-submit:hover {
    color: #177cf0;
  }
}

.turned-evidence {
  @include element;
  position: relative;
  display: grid;
  gap: 20px;
  grid-template-columns: 320px 3fr 1fr;
  &__file {
    margin-bottom: 15px;
    & i {
      font-size: 25px;
      position: relative;
      top: 2px;
      margin-right: 5px;
      color: $secundary-color;
    }

    & a {
      font-size: 14px;
      font-weight: map-get($font-weights, "semibold");
      color: $black;
      text-decoration: none;
      position: relative;
      top: -2px;
    }
  }
  &__p {
    font-size: 15px;
    color: $paragraph-color;
  }
  &__observation {
    position: relative;
    &-p {
      width: 100%;
      height: 130px;
      border: 2px solid $secundary-color;
      border-radius: $radius-l;
      padding: 20px;
    }
    &-label {
      position: absolute;
      font-size: map-get($size-paragraph, "l");
      font-weight: map-get($font-weights, "semibold");
      top: -12px;
      left: 40px;
      background: white;
    }
    &-calification {
      font-size: 27px;
      font-weight: map-get($font-weights, "bold");
      text-align: right;
      color: $secundary-color;
    }
  }
}

// BRIEFCASE
.program {
  display: flex;
  text-decoration: none;
  color: $black;
  @include element;
  cursor: pointer;
  &__figure {
    max-width: 100px;
  }
  &__id {
    margin-left: 40px;
  }
  &__title {
    font-size: map-get($size-title, "m");
    font-weight: map-get($font-weights, "semibold");
    margin-bottom: 8px;
  }
  &__group {
    color: $paragraph-color;
  }
}

.briefcase {
  margin-bottom: 30px;
  &-evidence {
    @include element;
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 290px 140px 130px 150px;
    padding: 40px;
    &--empty {
      display: flex;
      justify-content: space-between;
      background: rgba($color: #ffab7a, $alpha: 0.5);
      .briefcase-evidence__icon {
        color: rgba($color: #ff0f0f, $alpha: 0.8);
      }
      &__alert {
        padding: 10px 20px;
        text-align: center;
        border-radius: $radius-xl;
        background: rgba($color: #ff0f0f, $alpha: 0.8);
      }
    }
    &__activity {
      display: flex;
    }
    &__icon {
      display: block;
      position: relative;
      top: -1.5px;
      margin-right: 15px;
      font-size: 28px;
      color: $secundary-color;
    }
    &__title {
      font-size: map-get($size-paragraph, "l");
      font-weight: map-get($font-weights, "medium");
    }
    &__date {
      padding: 10px 20px;
      text-align: center;
      border-radius: $radius-xl;
      background: rgba($color: #ffe072, $alpha: 0.5);
    }
    &__grade {
      &-value {
        margin-bottom: 5px;
        text-align: center;
      }
      &-range {
        width: 120px;
        height: 10px;
        background: #c5d6ee;
        border-radius: 10px;
        & span {
          display: block;
          height: 100%;
          border-radius: 10px;
          width: 100%;
        }
        & .grade-a {
          background: #00d809;
        }
        & .grade-b {
          background: #eba352;
        }
        & .grade-d {
          background: $primary-contrast;
        }
      }
    }
    &__icons {
      display: flex;
      min-width: 130px;
      justify-content: space-between;
      align-items: center;
    }
    &__observation {
      text-align: center;
    }
    &__link {
      font-size: 25px;
      text-decoration: none;
      color: $secundary-color;
      &--highlight {
        color: $primary-contrast;
      }
    }
  }
  &-empty {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 40px;
    font-size: map-get($size-title, "s");
    font-weight: map-get($font-weights, "medium");
  }
}

.program-divider {
  max-width: 900px;
  opacity: 0.7;
  margin: 40px auto;
  border: 2px solid $secundary-color;
  border-radius: 10px;
}
