@import './config/variables';
@import './config/fonts';
@import './config/normalize';
@import './config/flex';
@import './config/grid';
@import './blocks/elements';
@import './blocks/inputs';

// Desktop
.wrapper {
  display: flex;
  position: relative;
  & .nav {
    position: fixed;
    background: $white;
    width: 250px;
    height: 100%;
    padding: 30px 10px;
    display: grid;
    justify-items: center;
    & .full-logo {
      width: 130px;
      display: block;
    }
    & .short-logo {
      display: none;
      width: 50px;
    }
    & .profile {
      display: flex;
      align-items: flex-end;
      position: relative;
      &__img {
        width: 40px;
        border-radius: 50%;
        margin-right: 8px;
        border: 2px solid #272727;
      }
      &__name {
        margin-bottom: 10px;
      }
    }
    & ul {
      padding: 0;
      margin: 0;
      width: 100%;
      & li {
        padding: 20px;
        list-style: none;
        cursor: pointer;
        transition: 0.3s;
        & a {
          display: block;
          color: $paragraph-color;
          text-decoration: none;
          & i {
            font-size: 20px;
            margin-right: 10px;
          }
        }
      }
    }
    & ul li:hover {
      background: #f2f0f0;
    }
  }
  & .main-content {
    width: 100%;
    margin-left: 250px;
    padding: 20px;
  }
  & .ham {
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    & span {
      display: block;
      background: #272727;
      height: 3px;
      width: 28px;
      margin: 8px auto;
      border-radius: 2px;
    }
  }
}

// Mobile
@media screen and (max-width: $lg) {
  .wrapper {
    flex-direction: column;
    & .ham {
      display: block;
      position: absolute;
      left: 25px;
      top: 25px;
      transition: 0.2s 0.1s;
    }
    & .nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      height: auto;
      & .logo {
        margin-left: 80px;
      }
      & .full-logo {
        display: none;
      }
      & .short-logo {
        display: block;
      }
      & .profile {
        position: absolute;
        right: 25px;
        top: 30px;
      }
      & ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
        padding: 0;
        display: none;
        opacity: 0;
        transition: opacity 5s ease-out;
        width: 100%;
        & li {
          width: 100%;
          text-align: center;
        }
      }
    }
    & .main-content {
      width: 100%;
      margin: 100px 0 0 0;
      padding: 20px;
    }
  }
}

// Nav Controls
@keyframes displayMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.nav-menu--active {
  display: flex !important;
  animation: displayMenu 350ms ease-in-out both;
}

.br {
  fill: none;
  stroke: #272727;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.br-1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.br-2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.br-3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .br-1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .br-2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .br-3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
