@import './config/variables';
@import './config/fonts';
@import './config/normalize';
@import './config/flex';
@import './config/grid';
@import './blocks/elements';
@import './blocks/inputs';

// GROUPS

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.card {
  background: $white;
  box-shadow: $element-shadow;
  border-radius: $radius-xl;
  &-header {
    background: $secundary-color;
    border-top-left-radius: $radius-xl;
    border-top-right-radius: $radius-xl;

    padding: 20px 35px;
    color: $white;
    font-size: map-get($size-paragraph, 'xl');
  }
  & table {
    tbody {
      tr {
        height: 60px;
        a {
          font-size: 20px !important;
          margin-left: 10px;
        }
        .see-button {
          color: $primary-color;
        }
      }
      tr:hover {
        font-weight: map-get($font-weights, 'medium');
        color: $secundary-color;
        outline: 2px solid $secundary-color;
      }
    }
  }
}

.align-middle {
  vertical-align: middle !important;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: $table-color;
  vertical-align: top;
  border-color: $table-border-color;
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: $white;
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px $table-accent-bg;
}
.table > tbody {
  vertical-align: inherit;
}
.table > thead {
  vertical-align: bottom;
}

.table-group-divider {
  border-top: 2px solid currentcolor;
}

.caption-top {
  caption-side: top;
}

.table-sm > :not(caption) > * > * {
  padding: 0.25rem 0.25rem;
}

.table-bordered > :not(caption) > * {
  border-width: 1px 0;
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}

.table-borderless > :not(caption) > * > * {
  border-bottom-width: 0;
}
.table-borderless > :not(:first-child) {
  border-top-width: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  $table-accent-bg: $table-striped-bg;
  color: $table-striped-color;
}

.table-striped-columns > :not(caption) > tr > :nth-child(even) {
  $table-accent-bg: $table-striped-bg;
  color: $table-striped-color;
}

.table-active {
  $table-accent-bg: $table-active-bg;
  color: $table-active-color;
}

.table-hover > tbody > tr:hover > * {
  $table-accent-bg: $table-hover-bg;
  color: $table-hover-color;
}

thead tr {
  border-bottom: 2px solid $black;
}

th {
  padding-bottom: 20px !important;
}

.hidden {
  display: none !important;
}

.course {
  cursor: pointer;
  outline: none;
  margin-left: 20px;
  border: none;
  text-align: start;
  display: inline-block;
  background: $white;
  border-radius: $radius-xl;
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: $element-shadow;
  &__title {
    font-weight: map-get($font-weights, 'semibold');
    font-size: map-get($size-paragraph, 'xl');
  }
  &__id {
    color: $paragraph-color;
    margin-bottom: 10px;
  }
  &__figure {
    max-width: 100px;
  }
}

.course:focus {
  border: 5px solid $secundary-color;
}

// PUBLICATIONS
