@import './config/variables';
@import './config/fonts';
@import './config/normalize';
@import './config/flex';
@import './config/grid';
@import './blocks/elements';
@import './blocks/inputs';

// GROUPS

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.card {
  background: $white;
  box-shadow: $element-shadow;
  border-radius: $radius-xl;
  &-header {
    background: $secundary-color;
    border-top-left-radius: $radius-xl;
    border-top-right-radius: $radius-xl;

    padding: 20px 35px;
    color: $white;
    font-size: map-get($size-paragraph, 'xl');
  }
  & table {
    tbody {
      tr {
        height: 60px;
        a {
          font-size: 20px !important;
          margin-left: 10px;
        }
        .see-button {
          color: $primary-color;
        }
      }
      tr:hover {
        font-weight: map-get($font-weights, 'medium');
        color: $secundary-color;
        outline: 2px solid $secundary-color;
      }
    }
  }
}

.align-middle {
  vertical-align: middle !important;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: $table-color;
  vertical-align: top;
  border-color: $table-border-color;
}

.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  background-color: $white;
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px $table-accent-bg;
}
.table > tbody {
  vertical-align: inherit;
}
.table > thead {
  vertical-align: bottom;
}

.table-group-divider {
  border-top: 2px solid currentcolor;
}

.caption-top {
  caption-side: top;
}

.table-sm > :not(caption) > * > * {
  padding: 0.25rem 0.25rem;
}

.table-bordered > :not(caption) > * {
  border-width: 1px 0;
}
.table-bordered > :not(caption) > * > * {
  border-width: 0 1px;
}

.table-borderless > :not(caption) > * > * {
  border-bottom-width: 0;
}
.table-borderless > :not(:first-child) {
  border-top-width: 0;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  $table-accent-bg: $table-striped-bg;
  color: $table-striped-color;
}

.table-striped-columns > :not(caption) > tr > :nth-child(even) {
  $table-accent-bg: $table-striped-bg;
  color: $table-striped-color;
}

.table-active {
  $table-accent-bg: $table-active-bg;
  color: $table-active-color;
}

.table-hover > tbody > tr:hover > * {
  $table-accent-bg: $table-hover-bg;
  color: $table-hover-color;
}

thead tr {
  border-bottom: 2px solid $black;
}

th {
  padding-bottom: 20px !important;
}

.hidden {
  display: none !important;
}

.course {
  cursor: pointer;
  outline: none;
  margin-left: 20px;
  border: none;
  text-align: start;
  display: inline-block;
  background: $white;
  border-radius: $radius-xl;
  margin-bottom: 30px;
  padding: 30px;
  box-shadow: $element-shadow;
  &__title {
    font-weight: map-get($font-weights, 'semibold');
    font-size: map-get($size-paragraph, 'xl');
  }
  &__id {
    color: $paragraph-color;
    margin-bottom: 10px;
  }
  &__figure {
    max-width: 100px;
  }
}

.course:focus {
  border: 5px solid $secundary-color;
}

// PUBLICATIONS

.upload-form {
  margin: 40px auto;
  max-width: 800px;
  background: $white !important;
  border-radius: $radius-xl !important;
  box-shadow: $element-shadow;
  &__title {
    padding: 30px;
    text-align: center;
    font-size: map-get($size-title, 'm');
    font-weight: map-get($font-weights, 'semibold');
  }
  & hr {
    margin: 0;
    border-color: #fafafa;
  }
  &__field {
    padding: 30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-input {
      display: block;
      height: 40px;
      border: none;
      font-size: 18px;
      &--title {
        width: 100%;
        font-size: map-get($size-title, 's');
        font-weight: map-get($font-weights, 'medium');
      }
      &--date {
        background: rgba(28, 119, 255, 0.466);
        color: rgb(0, 60, 255);
        text-align: center;
        padding: 10px;
        border-radius: $radius-m;
      }
    }

    & select {
      text-align: right;
      background: none;
    }

    & &-input:focus {
      outline: none;
    }

    &-label {
      & span {
        font-size: map-get($size-paragraph, 'm');
        font-weight: map-get($font-weights, 'medium');
      }
      & i {
        font-size: 24px;
        position: relative;
        top: 3px;
        color: $secundary-color;
        margin-right: 10px;
      }
    }

    & .btn-delete {
      cursor: pointer;
      display: block;
      border: none;
      background: none;
      color: $primary-contrast;
      font-size: 25px;
    }

    & .btn-submit {
      cursor: pointer;
      @include primary-btn($secundary-color, false);
    }

    & .file-choise {
      position: absolute;
      right: 160px;
      & label {
        cursor: pointer;
        display: block;
        color: rgba(0, 0, 0, 0.8);
        font-size: 25px;
        position: relative;

        & .file-name {
          font-size: 13px;
          font-weight: map-get($font-weights, 'semibold');
          color: $secundary-color;
          position: absolute;
          width: 600px;
          top: -6px;
          right: 30px;
          margin-right: 0 20px;
          text-align: right;
          transition: all 0.3s;
        }
      }
      & label:hover {
        color: #2dbb10;
      }
      & input {
        opacity: 0;
        position: absolute;
        z-index: -1;
      }
    }
  }
  &__field--description {
    position: relative;
    & .upload-form__field-input {
      width: 100%;
      height: 200px;
      resize: none;
      border: 2px solid $secundary-color;
      border-radius: $radius-l;
      padding: 20px;
    }
    & .upload-form__field-label {
      position: absolute;
      font-size: map-get($size-paragraph, 'l');
      font-weight: map-get($font-weights, 'semibold');
      top: 18px;
      left: 80px;
      background: white;
    }
  }
}
