@import './config/variables';
@import './config/fonts';
@import './config/normalize';
@import './config/flex';
@import './config/grid';
@import './blocks/elements';
@import './blocks/inputs';

* {
  box-sizing: border-box;
}

html {
  background-image: url(../img/backgrounds/login-sm-bg.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@media screen and (min-width: $lg) {
  html {
    background-image: url(../img/backgrounds/login-md-bg.svg);
  }
}

.login-container {
  overflow: hidden;
  height: 100vh;
  width: 80%;
  margin: auto;
  @include setFlex(column, center, evenly);
}

.login {
  // border: 2px solid #000;
  position: relative;
  &__title {
    text-align: center;
    margin-bottom: 50px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__btn {
    align-self: center;
    @include primary-btn($primary-contrast, false);
  }
}

.media {
  // border: 2px solid #000;
  position: relative;
  color: $white;
  font-size: map-get($size-paragraph, 'xl');
  text-align: center;

  &__links {
    margin-top: 20px;
    @include setFlex(row, center, evenly);
    font-size: 50px;
  }
}

.recover {
  margin-top: 40px;
  & a {
    margin-top: 20px;
    font-size: map-get($size-paragraph, 'm');
    align-self: center;
    justify-content: center;
    text-decoration: underline;
    color: $white;
  }
}

.signup {
  // border: 2px solid #000;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  font-size: map-get($size-paragraph, 'm');
  // // text-align: center;
  bottom: 30px;
}

.signup__link {
  text-decoration: none;
  border: $border;
  padding: 12px 15px;
  border-radius: $radius-xl;
  font-size: map-get($size-paragraph, 's');
  color: inherit;
}

// md

@media screen and (min-width: $md) {
  .login {
    min-width: 400px;
  }
}

// Posicionamiento lg

@media screen and (min-width: $lg) {
  .signup {
    color: $black;
  }
}

@media screen and (min-width: $xl) {
  html {
    background-image: url(../img/backgrounds/login-lg-bg.svg);
  }
  .login-container {
    @include setFlex(column, start, evenly);
    width: 70%;
    padding-left: 20px;
  }
  .media {
    color: $black;
    padding-left: 20px;
  }
  .recover {
    position: relative;
    left: 80px;
    & a {
      color: $black;
    }
  }
  .signup {
    color: $white;
    position: absolute;
    margin-top: 100px;
    margin-right: 180px;
    right: 0;
    top: 0;

    &__link {
      border-color: $white;
    }
  }
}

@media screen and (min-width: $xxl) {
  .login-container {
    width: 75%;
  }
  .register-input {
    height: 80px;
    font-size: map-get($size-title, 's');
  }
  .login {
    width: 500px;
    &__title {
      font-size: map-get($size-title, 'xxl');
    }
    &__btn {
      font-size: map-get($size-paragraph, 'xl');
      padding: 20px 25px;
      border-radius: $radius-l;
    }
  }
  .recover {
    margin-top: -20px;
    position: relative;
    left: 80px;
    & a {
      color: $black;
      font-size: map-get($size-title, 's');
    }
  }
  .signup {
    font-size: map-get($size-title, 's');
    margin-top: 150px;
    margin-right: 280px;
  }
  .media {
    position: relative;
    left: 5px;
    font-size: map-get($size-title, 'm');
  }
}
