@import "./config/variables";
@import "./config/fonts";
@import "./config/normalize";
@import "./config/flex";
@import "./config/grid";
@import "./blocks/elements";

// Navbar mediaquery
@media screen and (min-width: $md) {
  .nav {
    flex-direction: row;
    &__logo {
      margin-bottom: 0;
    }
  }
}

// Home

.home {
  display: flex;
  @include setFlex(column, center, evenly);
  padding: 0 40px 40px 40px;
  background-color: $white;
  background-image: url(../img/backgrounds/header-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 40px;

  &__paragraph {
    font-size: map-get($size-paragraph, "xl");
    color: $paragraph-color;
  }

  &__btn {
    @include primary-btn($primary-contrast, true);
  }
}

// Media
@media screen and (min-width: $md) {
  .home {
    flex-direction: row;
    background-position-y: bottom;

    &__figure {
      order: 2;
      width: 50%;
    }

    &__start {
      order: 1;
      width: 50%;
    }
  }
}

@media screen and (min-width: $lg) {
  .home {
    padding: 30px 50px;

    &__figure {
      width: 40%;
    }
  }
}

@media screen and (min-width: $xl) {
  .home {
    height: 90vh;
  }
}

// About Us

.info {
  margin-top: 30px;
  padding: 50px;
  text-align: center;
  &__title {
    font-size: map-get($size-title, "m");
  }
  &__paragraph {
    font-size: map-get($size-paragraph, "m");
    color: $paragraph-color;
  }
}

// Card

.card {
  @include setFlex(column, center, evenly);
  background-color: $white;
  margin: 30px 20px;
  padding: 20px;
  border-radius: $radius-xl;
  border-top: 20px solid $primary-color;
  text-align: center;
  box-shadow: $element-shadow;
  margin-bottom: $element-spacing;

  &__figure {
    margin-bottom: 20px;
    width: 80%;
    max-width: 450px;
    align-self: center;
  }

  &-content {
    padding: 20px 10px;
  }

  &__title {
    font-size: map-get($size-title, "m");
    margin-bottom: 5px;
  }

  &__paragraph {
    color: $paragraph-color;
    font-size: map-get($size-paragraph, "m");
  }
}

.card-steps {
  font-size: map-get($size-paragraph, "m");
  &__list {
    list-style: none;
    text-align: left;
  }
  &__li {
    position: relative;
    text-align: left;
    & span {
      display: inline-block;
      font-weight: bold;
      width: 2em;
      height: 2em;
      text-align: center;
      line-height: 2em;
      border-radius: $radius-xl;
      background-color: $secundary-color;
      color: $white;
      position: relative;
      z-index: 1;
      margin: 1.4em 0;
    }

    &::before {
      content: "";
      position: absolute;
      background: $secundary-color;
      z-index: 0;
      top: -35px;
      left: 15px;
      width: 0.2em;
      height: 4em;
    }

    &:first-child::before {
      display: none;
    }
  }
}

// Media
@media screen and (min-width: $md) {
  .card {
    margin: 0 100px $element-spacing 100px;
  }
}

@media screen and (min-width: ($lg + 100px)) {
  .card {
    border-top: none;
    border-left: 25px solid $primary-color;
    width: 80%;
    margin: 50px auto;
    margin-bottom: 100px;
    flex-direction: row;
    padding: 40px 50px;
    &__figure {
      width: 50%;
    }
    &-content {
      width: 50%;
    }
  }
}

// Design

.design {
  background-color: $primary-color;
  background-image: url(../img/backgrounds/design-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  text-shadow: $font-shadow;
  @include setFlex(column, center, evenly);
  margin-bottom: $element-spacing;

  &__title {
    margin: 80px;
    font-size: map-get($size-title, "xl");
    font-weight: map-get($font-weights, "semibold");
    text-align: center;
    flex-shrink: 2;
    & hr {
      @include hr($white, true);
    }
  }
  &__figure {
    margin: 0 50px;
    max-width: 500px;
  }
}

// Media
@media screen and (min-width: $lg) {
  .design {
    flex-direction: row;

    &__title {
      width: 40%;
    }
    &__figure {
      padding-top: 100px;
      position: relative;
      top: 0;
    }
  }
}

// Skills

.skills {
  min-height: 700px;
  margin-bottom: $element-spacing;
  @include background("../img/backgrounds/skills-bg.svg");
  background-position: bottom;
  padding: 40px;

  &__head {
    margin: 50px 0 100px 0;
    text-align: center;
    & hr {
      @include hr($primary-contrast, false);
      margin-bottom: 30px;
    }
  }
  &__title {
    font-size: map-get($size-title, "l");
  }
  &__paragraph {
    font-size: map-get($size-paragraph, "l");
    color: $paragraph-color;
  }
  &__icons {
    @include setGridFit(150px, 150px, 20px);
    justify-content: center;
    align-content: center;
  }
  &__item {
    @include setFlex(column, center, center);
    padding: 15px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: $radius-l;
  }
  &__img {
    width: 80px;
    height: 80px;
    margin-top: 10px;
  }
}

// Support

.support {
  @include setFlex(column, center, between);
  background: $white;
  margin-bottom: $element-spacing;
  text-align: center;
  padding: 70px 40px 0 40px;
  &__title {
    font-size: map-get($size-title, "s");
    & hr {
      @include hr($primary-contrast, false);
    }
  }
  &__paragraph {
    font-size: map-get($size-paragraph, "m");
    color: $paragraph-color;
  }
  &__btn {
    @include primary-btn($primary-contrast, false);
    transition: 0.4s;

    &:hover {
      box-shadow: $font-shadow;
    }
  }
  &__figure {
    max-width: 400px;
    margin: 80px auto 0 auto;
    position: relative;
    bottom: 0;
  }
}

// Media
@media screen and (min-width: $lg) {
  .support {
    flex-direction: row;
    padding: 0;
    &__content {
      margin: 0 100px;
    }
    &__btn {
      margin-top: 30px;
    }
    &__figure {
      margin: 80px 100px 0 auto;
      max-width: 500px;
    }
  }
}

// Footer

.footer {
  background-color: $primary-color;
  color: $white;
  position: relative;
  text-align: center;

  &-wave {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    transform: rotate(180deg);

    & svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 169px;
    }

    & .shape-fill {
      fill: #ebf0f6;
    }
  }

  &__content {
    @include setGridFit(200px, auto, 50px);
    justify-content: space-evenly;
    padding: 30px;
  }

  &__brand {
    font-size: map-get($size-title, "l");
    font-weight: map-get($font-weights, "semibold");
    margin-bottom: 15px;
  }

  &__title {
    font-size: map-get($size-title, "s");
    font-weight: map-get($font-weights, "medium");
    margin-bottom: 15px;
  }
  &__info {
    font-size: map-get($size-paragraph, "m");
    & div {
      margin-bottom: 10px;
    }
  }

  &__media {
    & a {
      text-decoration: none;
      color: $white;
    }
    margin-top: 20px;
    @include setFlex(row, center, evenly);
    font-size: 30px;
  }

  &__contact {
    &-form {
      margin-top: 20px;
      @include setFlex(row, center, center);
    }
    &-email {
      height: 50px;
      border: none;
      border-radius: $radius-l;
      padding: 0 10px;
      margin-right: 5px;
    }
    &-button {
      height: 50px;
      @include primary-btn(
        linear-gradient(
          104.67deg,
          #ff5a5a -82.31%,
          #f11414 54.83%,
          #f11414 86.9%
        ),
        false
      );
    }
  }

  & hr {
    color: $white;
  }
  &__copyright {
    @include setFlex(row, center, between);
    font-size: map-get($size-paragraph, "m");
    padding: 20px;
  }
}

// Media
@media screen and (min-width: 450px) {
  .footer__contact {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: ($lg + 200px)) {
  .footer__contact {
    grid-column: 2 span;
  }
}

// Login Styles

.login-html {
  background-image: url(../img/backgrounds/login-sm-bg.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@media screen and (min-width: $lg) {
  .login-html {
    background-image: url(../img/backgrounds/login-md-bg.svg);
  }
}

.login-container {
  overflow: hidden;
  height: 100vh;
  width: 80%;
  margin: auto;
  @include setFlex(column, center, evenly);
}

.login {
  position: relative;
  &__title {
    text-align: center;
    margin-bottom: 50px;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__btn {
    align-self: center;
    @include primary-btn($primary-contrast, false);
  }
}

.recover {
  order: 10;
  margin-bottom: 60px;
  & a {
    font-size: map-get($size-paragraph, "m");
    align-self: center;
    justify-content: center;
    text-decoration: underline;
    color: $black;
  }
}

.signup {
  order: 40;
  // border: 2px solid #000;
  position: relative;
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  font-size: map-get($size-paragraph, "m");
  // // text-align: center;
}

.signup__link {
  text-decoration: none;
  border: 1px solid $white;
  padding: 12px 15px;
  border-radius: $radius-xl;
  font-size: map-get($size-paragraph, "s");
  color: inherit;
}

@media screen and (min-width: $md) {
  .login {
    min-width: 400px;
  }
}

@media screen and (min-width: $xl) {
  .login-html {
    background-image: url(../img/backgrounds/login-lg-bg.svg);
  }
  .login-container {
    @include setFlex(column, start, evenly);
    width: 70%;
    padding-left: 20px;
  }
  .recover {
    order: 40;
    position: relative;
    left: 80px;
  }
  .signup {
    order: 10;
    position: absolute;
    margin-top: 100px;
    margin-right: 180px;
    right: 0;
    top: 0;
  }
}

@media screen and (min-width: $xxl) {
  .login-container {
    width: 75%;
  }
  .register-input {
    height: 80px;
    font-size: map-get($size-paragraph, "m");
  }
  .login {
    width: 500px;
    &__title {
      font-size: map-get($size-title, "xxl");
    }
    &__btn {
      font-size: map-get($size-paragraph, "xl");
      padding: 20px 25px;
      border-radius: $radius-l;
    }
  }
  .recover {
    margin-top: -20px;
    position: relative;
    left: 80px;
    & a {
      font-size: map-get($size-title, "s");
    }
  }
  .signup {
    font-size: map-get($size-title, "s");
    margin-top: 150px;
    margin-right: 280px;
  }
}

// Recover pass Styles
.recover-body {
  @include background-image("../img/backgrounds/signup-bg.svg");
}

.recover-container {
  background: $white;
  max-width: 360px;
  padding: 40px;
  border-radius: $radius-xl;
  display: flex;
  flex-direction: column;
  & .header {
    text-align: center;
    align-self: center;
    margin-bottom: 40px;
    & hr {
      @include hr($primary-contrast, false);
      margin-top: -10px;
    }
  }

  & .form {
    &__field {
      @include setFlex(column, stretch, start);
      & label {
        display: block;
        margin-bottom: 10px;
      }
      & .submit-btn {
        @include primary-btn($primary-contrast, false);
      }
    }
  }
}

@media screen and (min-width: $md) {
  .recover-container {
    max-width: 700px;
    & .form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;

      &__field.submit__field {
        grid-column: 2 span;
      }
    }
  }
}

// Error form
.form__error-message {
  grid-column: 2 span;
  text-align: center;
  background: #ffd16d;
  padding: 2px 15px;
  border-radius: $radius-m;
  margin-bottom: 20px;
  display: none;
}

.form__error-message--active {
  display: block;
}

// Fields error
.form__field-error {
  font-size: 13px;
  margin-top: -10px;
  display: none;
}

.form__field-error--active {
  display: block;
}

// State styles
.form__field {
  // Correct field
  &-correct {
    & input {
      outline: none;
    }
  }

  // Wrong field
  &-wrong {
    label {
      color: $primary-contrast;
      opacity: 1;
    }
    & input {
      outline: 3px solid $primary-contrast;
    }
  }
}

// Sign Up Styles

.signup-body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-image: url(../img/backgrounds/signup-bg.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

// Progress Bar

.progress-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 20px 0 60px 0;
}

.progress-bar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: 10;
}

.progress {
  background: $secundary-color;
  transition: 0.6s;
  width: 0%;
}

.progress-step {
  width: 35px;
  height: 35px;
  background-color: #dcdcdc;
  border-radius: $radius-xl;
  @include setFlex(row, center, center);
  z-index: 20;

  &::before {
    counter-increment: step;
    content: counter(step);
  }

  &::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 12px);
    color: $paragraph-color;
  }
  &--active {
    background-color: $secundary-color;
    color: $white;
  }
}

.step {
  display: none;
  &__field {
    position: relative;
    margin-bottom: 20px;

    &-state {
      position: absolute;
      right: 14px;
      bottom: 22px;
      z-index: 100;
      opacity: 0;
    }
    // Correct field
    &-correct &-state {
      color: #1ed12d;
      opacity: 1;
    }

    // Wrong field
    &-wrong {
      .step__field-state,
      label {
        color: $primary-contrast;
        opacity: 1;
      }
      & input {
        outline: 3px solid $primary-contrast;
      }
    }
    & label {
      display: block;
      margin-bottom: 10px;
    }
    &-error {
      font-size: 13px;
      margin-bottom: -8px;
      display: none;
      &--active {
        display: block;
      }
    }
  }
  &__title {
    margin: 20px 0;
    text-align: left;
    grid-column: 2 span;
    font-size: map-get($size-paragraph, "xl");
    font-weight: map-get($font-weights, "medium");
  }
  &__input {
    position: relative;
    font-size: 16px !important;
    & .register-input {
      margin-bottom: 0 !important;
    }
  }
  &__error-message {
    grid-column: 2 span;
    text-align: center;
    background: #ffd16d;
    padding: 2px 15px;
    border-radius: $radius-m;
    margin-bottom: 20px;
    display: none;
    &--active {
      display: block;
    }
  }
  &--active {
    display: block;
  }
}

.signup-container {
  background: $white;
  max-width: 700px;
  min-width: 330px;
  padding: 40px;
  border-radius: $radius-xl;

  & .header {
    text-align: center;
    margin: 0;
  }
  & hr {
    @include hr($primary-contrast, false);
  }
}

// Personal information and Login data

@media screen and (min-width: $md) {
  .personal-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    & .btn-only {
      grid-column: 2 span;
    }
  }
}

@media screen and (min-width: $md) {
  .step--active.login-data .field-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    & .btns-group {
      grid-column: 2 span;
    }
  }
}

.rol {
  &__instructor,
  &__aprendiz {
    transition: background 1s;
  }
  & label {
    display: inline-block;
  }

  &__option {
    position: relative;
    cursor: pointer;
    margin: 0 10px;
    border-radius: $radius-xl;
    border-bottom: 40px solid $primary-contrast;

    & span {
      font-size: map-get($size-paragraph, "m");
      color: white;
      display: block;
      width: 100%;
      position: absolute;
      right: 0;
      bottom: -30px;
      cursor: pointer;
    }
    & input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
  &__figure {
    max-width: 200px;
    padding-top: 10px;
    cursor: pointer;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;

    & .step__field-error {
      grid-column: 2 span;
      margin-top: -10px;
    }
    & .btns-group {
      grid-column: 2 span;
    }

    & .rol__field {
      grid-column: 2 span;
    }
  }
}

@media screen and (min-width: $md) {
  .rol__group .rol__field {
    grid-column: 1 span;
  }
}

.checkbox:checked {
  background: rgba(green, 0.6);
}

// Button

.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.btn {
  @include primary-btn($primary-contrast, false);
  display: block;
  transition: 0.3s;
  &:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 3px $primary-contrast;
  }

  &-prev {
    background: $secundary-color;
    &:hover {
      box-shadow: 0 0 0 2px #fff, 0 0 0 3px $secundary-color;
    }
  }
}

@media screen and (min-width: $md) {
  .signup-container {
    min-width: 600px;
  }
}
